<section>
    <div class="container">
      <h2>Formulario de Pago</h2>
      <form (ngSubmit)="procesarPago()">
        <div class="form-group">
          <label for="tarjetaNumero">Número de Tarjeta</label>
          <input type="text" id="tarjetaNumero" [(ngModel)]="tarjetaNumero" name="tarjetaNumero" required>
        </div>
        <div class="form-group">
          <label for="tarjetaNombre">Nombre en la Tarjeta</label>
          <input type="text" id="tarjetaNombre" [(ngModel)]="tarjetaNombre" name="tarjetaNombre" required>
        </div>
        <div class="form-group">
          <label for="tarjetaFechaExpiracion">Fecha de Expiración</label>
          <input type="text" id="tarjetaFechaExpiracion" [(ngModel)]="tarjetaFechaExpiracion" name="tarjetaFechaExpiracion" required>
        </div>
        <div class="form-group">
          <label for="tarjetaCVV">CVV</label>
          <input type="text" id="tarjetaCVV" [(ngModel)]="tarjetaCVV" name="tarjetaCVV" required>
        </div>
        <button type="submit">Pagar</button>
      </form>
    </div>
  </section>
  