.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; 
    flex-direction: column;
}
.breadcrumb-container {
  font-family: Arial, sans-serif;
  font-size: 11px;
  }

  .breadcrumb {
  list-style: none;
  display: flex;
   padding: 0;
   margin: 0;
   justify-content: center;
   margin: 20px;
  }

  .breadcrumb li {
   position: relative;
   margin-right: 10px; /* Espacio entre los elementos */
  }

  .breadcrumb li:not(:last-child)::after {
   content: '|'; /* Separador vertical */
   position: absolute;
   right: -10px; /* Ajusta la posición según el espacio entre los elementos */
   top: 0;
   color: #607178; /* Color del separador */
   margin-left: 10px;
   margin-right: 15px;
  }

  .breadcrumb a {
  text-decoration: none;
   color: #607178; /* Color de los enlaces */
   margin-right: 20px;
  }


  .breadcrumb a:hover {
   text-decoration: underline;
  }

  /* Estilo para el breadcrumb de la página actual */
  .breadcrumb .current-page a {
   color: #CCC4FF; /* Color del breadcrumb actual */
   font-weight: bold; /* Opcional: hacer el texto negrita */
  }
.btn-volver{
    width: 100%;
    padding: 20px 40px;
}
.clients-table {
    width: 1000px; 
    border-collapse: collapse;
    z-index: 1; 
    position: relative;
}

.clients-table th, .clients-table td {
    border: 3px solid #CCC4FF;
    padding: 20px;
    text-align: center;
}

.clients-table th {
    background-color: #CCC4FF;
    color: #7b7979c4;
}

.clients-table tbody tr:nth-child(even) {
    background-color: #ccc4ff6b; 
}

#delete-button {
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 20px;
    margin-top: 10px;
}

#delete-button:hover {
    background-color: #ff1a1a; 
}

#delete-button:active {
    background-color: #cc0000; 
    transform: scale(0.98); 
}


.btns{
    display: flex;
}
.volver{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

select{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(204, 196, 255, 0.38);
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    padding: 10px;
}

.modal-content {
    width: 80%; 
    max-width: 1200px; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}


.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 10px;
}
.reagendar{
    background-color: rgba(87, 250, 60, 0.47);
}
.reagendar1{
    background-color: rgba(250, 60, 60, 0.47);
}



.modal-content button {
    margin: 10px 8px 0 8px;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: black; 
    transition: background-color 0.3s ease; 
}

.modal-content .btn-aceptar {
    background-color: rgba(87, 250, 60, 0.47);; /* Color verde */
}

.modal-content .btn-aceptar:hover {
    background-color: rgba(88, 250, 60, 0.267);; /* Verde más oscuro al pasar el ratón */
}

.modal-content .btn-cancelar {
    background-color: rgba(250, 60, 60, 0.47); /* Color rojo */
}

.modal-content .btn-cancelar:hover {
    background-color: rgba(250, 60, 60, 0.338); /* Rojo más oscuro al pasar el ratón */
}



@media (max-width:1279px){
    .text1, .text2, .text3, .text4, .text5, .text6, .download {
        width: 100px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
       }

       .client{
        width: 700px;
       }

       .clients-table{
        width: 700px;
       }

       .clients-table th, .clients-table td {
        padding: 10px;
        text-align: center;
        font-size: 12px;
        }

        select{
            height: 20px;
            font-size: 12px;
        }

}


@media (max-width: 768px){
    .text1, .text2, .text3, .text4, .text5, .text6, .download {
        width: 60px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
       }

       .client{
        width: 420px;
       }

       .clients-table{
        width: 420px;
       }

       .clients-table th, .clients-table td {
        padding: 5px;
        text-align: center;
        font-size: 8px;
        }

        .table-container{
            margin-top: 50px;
        }

        select{
            height: 20px;
            font-size: 8px;
        }

        .volver{
            width: 60px;
            font-size: 10px;
            height: 30px;
            border-radius: 5px;
        }

        .modal-content  .btn-aceptar{
            font-size: 10px;
            padding: 10px;

        }

         .modal-content .btn-cancelar{
            font-size: 10px;
            padding: 10px;
        }

}


@media (max-width: 480px){
    .text1, .text2, .text3, .text4, .text5, .text6, .download {
        width: 42.8px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
       }

       .client{
        width: 400px;
       }

       .clients-table{
        width: 300px;
       }

       .clients-table th, .clients-table td {
        padding: 5px;
        text-align: center;
        font-size: 5px;
        }
        select{
            height: 10px;
            font-size: 5px;
        }

        .volver{
            width: 40px;
            font-size: 8px;
            height: 20px;
            border-radius: 3px;
        }

        h2{
            font-size: 10px;
            margin-bottom: 10px;
        }

        .modal-content  .btn-aceptar{
            font-size: 10px;
            padding: 10px;

        }

         .modal-content .btn-cancelar{
            font-size: 10px;
            padding: 10px;
        }

}