.table{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h2{
    padding: 10px 0px 45px 70px;
    width: 1000px;
    height: 45px;
    border: 1px solid #D9D9D9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.clients-table{
    color: #7b7979c4;
    background-color: #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 92px;
    padding: 20px 0px 20px 60px;
}

.clients-table p{
    margin: 0 20px;
}

#title1{
    width: 40px;
    text-align: center;
}
#title2{
    width: 130px;
    text-align: center;
}

#title3{
    width: 105px;
    text-align: center;
}
#title4{
    width: 110px;
    text-align: center;
}
#title5{
    width: 230px;
    text-align: center;
}
#title7{
    width: 186px;
    text-align: center;
}
#title8{
    width: 80px;
    text-align: center;
}

#title9{
    width: 80px;
    text-align: center;
}