
<div class="table-container">
  <div class="btn-volver">
   <!-- <h1 class="volver"><a routerLink="/home">Home</a>><a routerLink="/citas">Citas</a>><a routerLink="/historial">Historial</a></h1>-->
  </div>
  <table class="clients-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Nombre</th>
        <th>Tipo de Cita</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Descargar historial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{ cita.id }}</td>
        <td>{{ cita.fecha }}</td>
        <td>{{ cita.hora }}</td>
        <td>{{ cita.nombre }}</td>
        <td>{{ cita.tipo }}</td>
        <td>
          <ng-container *ngIf="cita.estado === 'Agendada'; else estadoNormal">
            <select (change)="onChangeEstado(cita, $event)">
              <option value="" hidden [selected]="cita.estado === 'Agendada'">Agendada</option>
              <option class="reagendar" value="Reagendar">Reagendar</option>
              <option class="reagendar1" value="Cancelar">Cancelar</option>
            </select>
          </ng-container>
          <ng-template #estadoNormal>
            {{ cita.estado }}
          </ng-template>
        </td>
        <td>{{ cita.precio }}</td>
        <td>
          <img src="/src/assets/icons/descargas-removebg-preview.png" alt=""  class="download"
              *ngIf="cita.estado === 'Completada'" 
              (click)="downloadHistorial(cita.id)"
              style="cursor: pointer; width: 32px; height: 32px;" />
          <!-- <button *ngIf="cita.estado === 'Agendada'" (click)="downloadHistorial(cita.id)">
            Descargar Historial
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Fondo oscuro y modal -->
<div *ngIf="mostrarCalendario" class="modal-background">
  <div class="modal">
    <div class="modal-content">
      <h2>Seleccione la nueva fecha</h2>
      <app-calendario (dateSelected)="onFechaSeleccionada($event)" (timeSelected)="onTimeSeleccionada($event)"></app-calendario>
      <div class="btns">
        <button (click)="guardarCita()" class="btn-aceptar">Aceptar</button>
        <button (click)="cerrarModal()" class="btn-cancelar">Cancelar</button>
      </div>
    </div>
  </div>
</div>
