.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; 
}

.clients-table {
    width: 1000px; 
    border-collapse: collapse;
    z-index: 1; /* Asegura que la tabla esté detrás del modal */
    position: relative;
}

.clients-table th, .clients-table td {
    border: 3px solid #CCC4FF;
    padding: 20px;
    text-align: center;
}

.clients-table th {
    background-color: #CCC4FF;
    color: #7b7979c4;
}

.clients-table tbody tr:nth-child(even) {
    background-color: #ccc4ff6b; 
}

#delete-button {
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 20px;
    margin-top: 10px;
}

#delete-button:hover {
    background-color: #ff1a1a; 
}

#delete-button:active {
    background-color: #cc0000; 
    transform: scale(0.98); 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
    padding: 10px;
}

.modal-content {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 1200px; /* Máximo ancho del modal */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 10px;
}


.modal-content button {
    margin: 10px 8px 0 8px;
    padding: 10px 20px; /* Ajusta el espaciado interno según tus necesidades */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white; /* Color del texto en los botones */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.modal-content .btn-aceptar {
    background-color: #57cf5bd5; /* Color verde */
}

.modal-content .btn-aceptar:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

.modal-content .btn-cancelar {
    background-color: #d3655d; /* Color rojo */
}

.modal-content .btn-cancelar:hover {
    background-color: #e53935; /* Rojo más oscuro al pasar el ratón */
}
