@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco&display=swap');

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #CCC4FF;
  padding: 0 30px;
  border-bottom: 3px solid white;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  font-family: "Playwrite ES Deco", cursive;
}

.logo {
  display: flex;
  align-items: center;
}

.titles {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ded8ff;
  padding: 0 50px;
  box-shadow: 10px 0 20px #CCC4FF ;
  flex-wrap: wrap;
}

.titles a {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.hola, .a, .aa {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}


@media (max-width: 1279px){

  .titles{
    height: auto;
  }
}


@media (max-width: 768px) {
  .header {
    padding: 0 15px;
  }


  .hola, .a, .aa {
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
  }

}

@media (max-width: 480px) {
  .header {
    height: 80px;
    padding: 0 10px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .hola, .a, .aa {
    font-size: 10px;
  }
  
}


/* Estilos generales para el menú desplegable */
.menu-container {
  display: none;
}

.menu {
  position: relative;
  background-color: #ded8ff;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  
}

/* Estilos del menú desplegable */
.menu-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ded8ff;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  display: none;
}

.menu-content.active {
  display: flex;
  width: 220px;
}

.menu-item {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #CCC4FF;
}

.menu-item:hover {
  background-color: #CCC4FF;
  color: black;
}

/* Media queries para hacer visible el menú desplegable en pantallas pequeñas */
@media (max-width: 1279px) {
  .menu-container {
    display: block;
  }
  
  .menu-toggle {
    display: block;
  }

  .titles {
    display: none; /* Oculta el menú original en pantallas pequeñas */
  }
  
}

@media (max-width: 480px) {
  .menu-item {
    font-size: 12px;
    padding: 10px;
  }
}
