<div class="header">
    <div class="logo">
        <app-logo></app-logo>
        <h1>Clinic-Pets</h1>
    </div>

    <app-perfil></app-perfil>
</div>
<div class="titles">
    <app-titulo  [ruta]="'/home-admin'" [title]="'Home'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="aa" [estilo]="'color:black; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="aa" [estilo]="'color:black;font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/lost-pets'" [title]="'Animales Perdidos'" class="aa" [estilo]="'color:black; font-size:15px'"></app-titulo>  
</div>