<div class="header">
    <div class="logo">
        <app-logo></app-logo>
        <h1>Clinic-Pets</h1>
    </div>

    <app-perfil></app-perfil>
</div>
<div class="titles">
    <app-titulo  [ruta]="'/home-admin'" [title]="'Home'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="aa" [estilo]="'color:black; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="aa" [estilo]="'color:black;font-size: 15px'"></app-titulo>
</div>

<div class="menu-container">
    <div class="menu">
      <button class="menu-toggle" (click)="toggleMenu()">☰</button>
      <div class="menu-content" [class.active]="isMenuOpen">
        <app-home class="menu-item"></app-home>
        <app-titulo [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
        <app-titulo [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
        <app-titulo [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
        <app-titulo [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
        <app-titulo [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
        <app-titulo [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      </div>
    </div>
  </div>