<app-header [ruta]="'/tienda'" [title]="'tienda'"></app-header>

<form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
  <div class="container-input">
    <input type="file" name="file-6" id="file-6" class="inputfile inputfile-6" data-multiple-caption="{count} archivos seleccionados" multiple (change)="onFileChange($event)" />
    <label for="file-6">
      <div class="fondo">
        <div id="image-preview" class="image-preview"
             [ngStyle]="{'background-image': selectedImage ? 'url(' + selectedImage + ')' : 'none'}">
          <img src="../../../../../assets/icons/nubenegra.png" alt="" *ngIf="!selectedImage">
          <p *ngIf="!selectedImage">Haz clic para seleccionar una imagen</p>
        </div>
      </div>
    </label>
  </div>

  <section>
    <section class="cube__form__group">
      <div class="parte1">
        <div>
          <app-input id="nombre" formControlName="nombre" [estilos]="estilos" holder="Nombre del Producto"></app-input>
          <div *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched" class="error-message">
            El nombre es obligatorio.
          </div>
        </div>

        <div>
          <app-input id="precio" formControlName="precio" [estilos]="estilos" holder="Precio"></app-input>
          <div *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched" class="error-message">
            El precio es obligatorio.
          </div>
        </div>

        <div>
          <app-input id="cantidad" formControlName="cantidad" [estilos]="estilos" holder="Cantidad"></app-input>
          <div *ngIf="productoForm.get('cantidad')?.invalid && productoForm.get('cantidad')?.touched" class="error-message">
            La cantidad es obligatoria.
          </div>
        </div>

        <select formControlName="categoria" class="categoria">
          <option value="">Categoría</option>
          <option value="alimentos">Alimento</option>
          <option value="medicamento">Medicamento</option>
          <option value="juguete">Juguete</option>
        </select>
        <div *ngIf="productoForm.get('categoria')?.invalid && productoForm.get('categoria')?.touched" class="error-message">
          La categoría es obligatoria.
        </div>


        <div>
          <app-input id="cantidad" formControlName="seleccionTallaPresentacion" [estilos]="estilos" holder="Unidad de medida "></app-input>
          <div *ngIf="productoForm.get('cantidad')?.invalid && productoForm.get('cantidad')?.touched" class="error-message">
            la unidad es obligatoria
            
          </div>
        </div>


      </div>


    </section>

    <section class="cube__input__group" >
      <div class="parte2">
        <div class="input-group">
          <div class="descripcion1">
            <textarea id="descripcion" formControlName="descripcion" placeholder="Descripción del Producto"></textarea>
            <div *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched" class="error-message">
              La descripción es obligatoria.
            </div>
            
          </div>
        </div>
      </div>

      <div class="parte2">
        <div class="input-group">
          <div class="descripcion1">
            <textarea  id="descripcion" type="text" formControlName="informacion" placeholder="informacion del Producto"></textarea>
            <div *ngIf="productoForm.get('informacion')?.invalid && productoForm.get('informacion')?.touched" class="error-message">
              La informacion es obligatoria.
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>

  <div class="botones">
    <button class="cancelar" type="button" (click)="onCancel()" >Cancelar</button>
    <button (click)="onSubmit()" type="button"  >Subir Producto</button>

  </div>
</form>
