<div *ngIf="viewuser">
  <app-header></app-header>
</div>
<div *ngIf="viewuser== false">
  <app-header-admin></app-header-admin>
</div>

<section>

<div class="info-b">
  <div class="imagenes">
    <h1>{{dataPets?.nombreMascota}}</h1>
    <img src="{{dataPets?.imagenMascota}}" alt="{{dataPets?.nombreMascota}}">

    <button (click)="openWhatsApp()" class="btn-whatsapp">
      <img src="../../../../../assets/icons/wp.png" alt="WhatsApp" class="whatsapp-icon">
      Contactar por WhatsApp
  </button>

  </div>

  <div class="info-c">
    <ul class="botones">
      <li><button (click)="mostrarInformacion()">Información</button></li>
      <li><button (click)="mostrarHistoria()">Historia</button></li>

    </ul>


    <div class="informacion">
      <div class="informacion1" [class.oculto]="!mostrarInfo">
        <h5><strong>Edad: </strong>{{dataPets?.edadMascota}}</h5>
        <h5><strong>Sexo: </strong>{{dataPets?.sexo}}</h5>
        <h5><strong>Especie: </strong>{{dataPets?.especieMascota}}</h5>
        <h5><strong>Raza: </strong>{{dataPets?.razaMascota}}</h5>
        <h5><strong>Vacunado: </strong>{{dataPets?.estadoVacunacionMascota}}</h5>
        <h5><strong>Esterilizado: </strong>{{dataPets?.esterilizacionMascota}}</h5>
      </div>

      <div class="historia" [class.oculto]="mostrarInfo">
        <p>
          {{dataPets?.historia}}
        </p>
      </div>
    </div>
  </div>

  </div>
</section>

<app-chat-bot></app-chat-bot>
