app-header-home {
    position: relative; /* Asegura que el encabezado esté en una capa superior */
    z-index: 2; /* Ajusta el índice z para que esté encima del carrusel */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo translúcido */
    /* Otros estilos para el encabezado según sea necesario */
  }

 .section{
  width: 100%;
  }

.drawer-toggle{
  display: none;
}

  .contenedores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
    flex-wrap: wrap;
  }

.colorC{
    width: 22%;
    height: 32%;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 28px;



}

.position{
    display: flex;
    align-items: center;
    justify-content: center;
}


.position img{
display: flex;
align-items: center;
justify-content: center;

}





.rounded-container {
    border: 4px solid rgba(204, 196, 255) ;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 88px;
    cursor: pointer;
  }

  .rounded-container img {
    max-width: 40%; /* Asegurar que la imagen no exceda el tamaño del contenedor */
    max-height: 40%; /* Asegurar que la imagen no exceda el tamaño del contenedor */
    display: block; /* Evitar espacio adicional debajo de la imagen */
    margin: auto;
    cursor: pointer;
  }


  .bigtext {
    width: 85%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .titulos {
    font-size: 32px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    line-height: 1.0;
    padding: 10px 0;
  }



  @media (max-width: 920px) {
    .contenedores {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      width: 200px;
      background-color: #333;
      z-index: 1000;
      transition: left 0.3s ease;
    }

    .contenedores.open {
      left: 0;
      height: 100%;
      width: 50%; /* Mantiene el ancho del menú en la mitad de la pantalla */
  }

    .colorC {
      width: 100%;
      margin: 0;
      padding: 15px;
      border-bottom: 1px solid #444;
      height: 90px;
    }

    .colorC .titulos {
      color: white;
      font-size: 14px;

    }

    .rounded-container {
      border: none;
      background-color: transparent;
      margin-top: -60px;
    }

    .rounded-container img {
      width: 30px;
      height: 30px;

    }

    .drawer-toggle {
      position: fixed;
      top: 38px;
      left: 10px;
      background-color: transparent;
      color: black;
      border: none;
      padding: 10px;
      z-index: 1001;
      cursor: pointer;
      font-size: 18px;
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .titulos{
    font-size: 10px !important;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #9588E4;
    margin-bottom: 175px;
  }

  contenedores.open .drawer-toggle {
    font-size: 16px;
    width: 20px;
    height: 20px;
    padding: 5px;
}}


@media (max-width: 768px) {
  
  .contenedores {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Cambio para distribuir mejor las tarjetas */
    align-items: center;
  }

  .colorC {
    width: 45%; /* Mantén el 45% para un buen ajuste */
    margin-bottom: 20px; /* Aumenta el espaciado inferior entre tarjetas */
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rounded-container {
    width: 120px; 
    height: 120px;
    margin-bottom: 10px;
  }

  .rounded-container img {
    max-width: 60px;
    max-height: 60px;
  }

  .titulos {
    font-size: 18px; 
    margin: 10px 0; /* Espaciado superior e inferior ajustado */
    text-align: center;
    color: #333;
  }
}





@media (max-width: 352px) {

  .drawer-toggle{
    justify-content: center;
    align-items: center;
  }
  .contenedores {
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos se apilen y ocupen todo el ancho */
    padding: 10px;
    overflow-y: auto; /* Permite el scroll vertical */
  }

  .colorC {
    width: 100%; /* Las tarjetas ocuparán el 100% del ancho */
    height: auto;
    padding: 15px;
    margin-bottom: 15px; /* Espaciado entre las tarjetas */
  }

  .titulos {
    font-size: 12px; /* Ajuste del tamaño del texto */
    margin-bottom: 5px;
    text-align: center;
  }

  .rounded-container {
    width: 80px; /* Tamaño reducido del contenedor redondeado */
    height: 80px;
    margin: 0 auto 10px; /* Centrado y con margen inferior */
  }

  .rounded-container img {
    max-width: 50px;
    max-height: 50px;
  }

  .drawer-toggle {
    top: 20px;
    left: 10px;
    font-size: 16px;
  }
}




@media (max-width: 480ñ) {

  .drawer-toggle{
    justify-content: center;
    align-items: center;
  }
  .contenedores {
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos se apilen y ocupen todo el ancho */
    padding: 10px;
    overflow-y: auto; /* Permite el scroll vertical */
  }

  .colorC {
    width: 100%; /* Las tarjetas ocuparán el 100% del ancho */
    height: auto;
    padding: 15px;
    margin-bottom: 15px; /* Espaciado entre las tarjetas */
  }

  .titulos {
    font-size: 12px; /* Ajuste del tamaño del texto */
    margin-bottom: 5px;
    text-align: center;
  }

  .rounded-container {
    width: 80px; /* Tamaño reducido del contenedor redondeado */
    height: 80px;
    margin: 0 auto 10px; /* Centrado y con margen inferior */
  }

  .rounded-container img {
    max-width: 50px;
    max-height: 50px;
  }

  .drawer-toggle {
    top: 20px;
    left: 10px;
    font-size: 16px;
  }
}
