
<section>
  <div>
    <button class="drawer-toggle" (click)="toggleDrawer()">☰</button>
  </div>
  <div class="contenedores" [ngClass]="{'open': drawerOpen}">

        <div class="colorC">
            <div class="position">
              <div class="rounded-container" routerLink="/gestion-horaios"  routerLinkActive="active">
              <img src="../../../../../assets/images/imghome/cambio 1.png" alt="">
            </div>
             </div>
                <nav class="bigtext">
                  <app-titulo class="titulos" [estilo]="''" [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios '"></app-titulo>

               </nav>

        </div>


        <div class="colorC">
            <div class="position">
              <div class="rounded-container" routerLink="/gestion-citas" routerLinkActive="active">
              <img src="../../../../../assets/images/imghome/cita (3) 1.png" alt="">
            </div>
             </div>
                <nav class="bigtext">
                  <app-titulo class="titulos" [estilo]="''" [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'"></app-titulo>

               </nav>
        </div>


        <div class="colorC">
          <div class="position">
            <div class="rounded-container" routerLink="/tienda-admin" routerLinkActive="active">
            <img src="../../../../../assets/images/imghome/tienda (1) 1.png" alt="" >
          </div>
           </div>
       <nav class="bigtext">
        <app-titulo class="titulos" [estilo]="''" [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'"></app-titulo>
          </nav>
      </div>


      <div class="colorC">
           <div class="position">
            <div class="rounded-container" routerLink="/admin-adopciones" routerLinkActive="active">
          <img src="../../../../../assets/images/imghome/adoptado 1.png" alt="">
           </div>
        </div>
      <nav class="bigtext">
        <app-titulo class="titulos" [estilo]="''" [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'"></app-titulo>
        </nav>
      </div>


      <div class="colorC">
        <div class="position">
          <div class="rounded-container" routerLink="/gestion-veterinarios" routerLinkActive="active">
          <img src="../../../../../assets/images/imghome/estetoscopio 1.png" alt="">
        </div>
         </div>
            <nav class="bigtext">
              <app-titulo class="titulos" [estilo]="''" [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'"></app-titulo>
           </nav>
    </div>



    <div class="colorC">
      <div class="position">
        <div class="rounded-container" routerLink="/inventario" routerLinkActive="active">
        <img src="../../../../../assets/images/imghome/listas-de-control 1.png" alt="">
      </div>
       </div>
          <nav class="bigtext">
            <app-titulo class="titulos" [estilo]="''" [ruta]="'/inventario'" [title]="'Inventario Tienda'"></app-titulo>
         </nav>
    </div>


      </div>
    </section>
