.cajagrande{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left: 72px;
}


.tamaño{
    width: 45%;
    height: 350px;
    margin-left: 56px;
    margin-top: 24px;
   
  
}

.cjamorada{
    width: 55%;
    height: 212px;
    background-color:  #E0DBFF;
    margin-right: 8px;
    margin-top: 40px;
    padding: 8px;   
   border-radius: 8px;
}

.cjamorada p{
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}