.cajagrande {
    width: 100%;
    height: 400px;
    display: flex;
    padding-bottom: 100px;
    /* Alineación por defecto para pantallas grandes */
    align-items: center;
}

.tamaño {
    width: 45%;
    height: 350px;
    display: flex;
    align-items: center;
    margin-left: 56px;
    margin-top: 0px;
}

img{
    border-radius: 15px;
}

.tamaño img {
    border-radius: 15px;
    width: 70%; /* Asegura que la imagen no se desborde */
}

.cjamorada {
    width: 55%;
    height: 233px;
    background-color: #E0DBFF;
    margin-right: 8px;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 8px;
}

.cjamorada p {
    font-size: 14px;
}


@media (max-width:1279px) {
    .cajagrande {
        width: 92%;
        padding-left: 0;
        padding-top: 10px;
        margin-right: 20px;
        align-items: center;
    }

    .cjamorada {
        width: 310px; /* Tamaño fijo */
        height: 240px; /* Tamaño fijo */
    }

    .cjamorada p {
        font-size: 14px;
        text-align: center;
    }

    .tamaño {
        width: 400px; /* Tamaño fijo */
        height: 300px; /* Tamaño fijo */
        margin-left: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    .tamaño img {
        width: 147px; /* Tamaño fijo */
    }
}




/* Diseño para pantallas grandes (769px - 920px) */
@media (min-width: 769px) and (max-width: 920px) {
    .cajagrande {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        margin-right: 20px;
        align-items: center;
    }

    .cjamorada {
        width: 500px; /* Tamaño fijo */
        height: 300px; /* Tamaño fijo */
    }

    .cjamorada p {
        font-size: 14px;
        text-align: center;
    }

    .tamaño {
        width: 400px; /* Tamaño fijo */
        height: 300px; /* Tamaño fijo */
        margin-left: 20px;
        align-items: center;
        justify-content: center;
    }

    .tamaño img {
        width: 250px; /* Tamaño fijo */
    }
}


/* Diseño para pantallas medianas (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .cajagrande {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .cjamorada {
        width: 400px; 
        height: 250px; 
    }

    .cjamorada p {
        font-size: 14px;
        text-align: center;
    }

    .tamaño {
        width: 350px; 
        height: 250px; 
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }

    .tamaño img {
        width: 200px; 
    }
}


/* Diseño para pantallas pequeñas (hasta 480px) */
@media (min-width:352px) and (max-width: 480px) {
    .cajagrande {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-left: 25;
        margin-top: 20px;
    }

    .cjamorada {
        width: 300px; 
        height: 200px; 
        margin-right: 0;
        margin-top: 45px;
        align-items: center;
    }

    .cjamorada p {
        font-size: 12px;
        text-align: center;
    }

    .tamaño {
        width: 300px; 
        height: 200px; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 40px;
    }

    .tamaño img {
        width: 180px; 
        margin: 0 auto;
    }
}