.cajagrande{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left: 72px;
}


.tamaño{
    width: 45%;
    height: 350px;
    margin-left: 56px;
    margin-top: 24px;
   
  
}

.cjamorada{
    width: 55%;
    height: 233px;
    background-color:  #E0DBFF;
    margin-right: 8px;
    margin-top: 40px;
    padding: 8px 16px;
   border-radius: 8px;
}

.cjamorada p{
    font-size: 16px;
}

@media (max-width: 352px){
    .cajagrande{
       
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    .cjamorada{
     width: 80%;
    }

    .cjamorada p{
        font-size: 10px;
    }
    .tamaño{
        width: 80%;
        margin-left: 10px;
      }
        .tamaño img{
            width: 95%;
            
        }
}



@media (max-width:480px){
    .cajagrande{
        width: 100%;
        display: flex;
        padding-left: 0px;
        padding-top: 10px;
        margin-right: 20px;
    }
    
    .cjamorada p{
        font-size: 10px;
    }
  .tamaño{
    margin-left: 10px;
  }
    .tamaño img{
        margin-right: 10px;
    }
}

@media (max-width:769px) {
    .cajagrande{
        width: 100%;
        display: flex;
        display: none;
        padding-left: 0px;
        padding-top: 10px;
        margin-right: 20px;
    }


  
    
}