
.contenedores {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 36px;
}

.drawer-toggle{
  display: none;
}


.colorC{
    width: 23%;
    height: 70%;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
      flex-direction: column;


}

.position{
    display: flex;
    align-items: center;
    justify-content: center;
}


.position img{
display: flex;
align-items: center;
justify-content: center;

}


nav{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top:8px;
    margin-top: 20px;
}



.rounded-container {
    border: 4px solid rgba(204, 196, 255) ;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 88px;
    cursor: pointer;
  }

  .rounded-container img {
    max-width: 40%; /* Asegurar que la imagen no exceda el tamaño del contenedor */
    max-height: 40%; /* Asegurar que la imagen no exceda el tamaño del contenedor */
    display: block; /* Evitar espacio adicional debajo de la imagen */
    margin: auto;
    cursor: pointer;
  }


  .titulos{
    font-size: 32px;
    text-decoration: none;

  }


  @media (min-width: 352px) and (max-width: 480px) {
    .contenedores {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%; /* Ajusta el menú a la mitad de la pantalla */
        background-color: #333;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    .contenedores.open {
        left: 0;
        height: 100%;
        width: 50%; /* Mantiene el ancho del menú en la mitad de la pantalla */
    }

    .colorC {
        width: 100%;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #444;
        height: 90px;
    }

    .colorC .titulos {
        color: white;
        font-size: 14px;
    }

    .rounded-container {
        border: none;
        background-color: transparent;
        margin-top: -60px;
    }

    .rounded-container img {
        width: 30px;
        height: 30px;
    }

    .drawer-toggle {
        position: fixed;
        top: 38px;
        left: 10px;
        background-color: transparent;
        color: black;
        border: none;
        padding: 10px;
        z-index: 1001;
        cursor: pointer;
        font-size: 18px;
        width: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulos {
        font-size: 10px !important;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: #9588E4;
        margin-bottom: 175px;
    }

    .contenedores.open .drawer-toggle {
        font-size: 16px;
        width: 20px;
        height: 20px;
        padding: 5px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .contenedores {
        width: 100%;
        height: 340px;
    }

    .colorC {
        width: 18%;
        margin-right: 50px; /* Aumenta el margen a la derecha */
    }
  }

  @media (min-width: 769px) and (max-width: 920px) {
    .contenedores {
        width: 100%;
        height: 320px;
        padding-bottom: 36px;
        align-items: center;
        justify-content: center;
    }

    .colorC {
        width: 22%; /* Ajusta el ancho si es necesario */
        margin-right: 50px; /* Aumenta el margen a la derecha */
    }

    .position {
        align-items: center;
        justify-content: center;
    }

    .rounded-container {
        width: 200px; /* Tamaño fijo */
        height: 200px; /* Tamaño fijo */
        margin: 0 88px;
    }

    .rounded-container img {
        width: 50px; /* Tamaño fijo */
        height: 50px; /* Tamaño fijo */
    }

    .titulos {
        font-size: 24px;
    }
  }
