<div>
  <button class="drawer-toggle" (click)="toggleDrawer()">☰</button>
</div>
<div class="contenedores" [ngClass]="{'open': drawerOpen}">
    <div class="colorC">
        <div class="position">
          <div class="rounded-container" routerLinkActive="active"  routerLink="/agenda">
          <img src="../../../../../assets/images/imghome/cita (3) 1.png" alt="">
        </div>
         </div>
            <nav>
              <app-titulo class="titulos" [estilo]="''" [ruta]="'/agenda'" [title]="'Citas Agendadas'"></app-titulo>

           </nav>
    </div>

    <div class="colorC">
        <div class="position">
          <div class="rounded-container" routerLinkActive="active">
          <img src="../../../../../assets/images/imghome/diagnosticar 1.png" alt="">
        </div>
         </div>
            <nav>
              <app-titulo class="titulos" [estilo]="''" [ruta]="'/table-historial'" [title]="'Consultar Historial'"></app-titulo>
           </nav>
    </div>


</div>
