a{
    width:250px ;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color:#9588E4;
  
  }
  
  a:hover{
      color :#3a364e;
  }

