

<section class="emptyState" *ngIf="adopciones.length <= 0">
    <div class="vacio">
        <h1>Vaya...</h1>
        <img src="../../../../../assets/images/gato.png" alt="">
        <h2>Parece que no hay adopciones para mostrar</h2>
        <h3>Añade nuevas solicitudes de adopciones para que aparezcan aqui.</h3>
    
      </div>
</section>

<section *ngIf="adopciones.length > 0" class="background">
    <div class="container-cards">
        <div *ngFor="let adopcion of filteredAdopciones" class="cartas">
            <app-admi-cards-nueva [adopcion]="adopcion"  (eliminar)="reloadAdopciones()"></app-admi-cards-nueva>
        </div>
    </div>

    <div class="filtro">
        <h1>Filtrar Por</h1>

        <div class="borrar" (click)="clearFilters()">
            <h2>Borrar Filtros</h2>
            <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="">
        </div>

        <div class="contenedor-filtro">
            <div  class="title-nombre">
                <h3>Nombre</h3>
                <img src="../../../../../assets/icons/mas.png" alt="">
            </div>
            <div class="filtro_nombre" >
                <div class="contain">
                    <input type="radio" id="az" name="order" (click)="sortName('az')" [checked]="currentSort === 'az'">
                    <label for="az">A-Z</label>
                </div>
                <div class="contain">
                    <input type="radio" id="za" name="order" (click)="sortName('za')" [checked]="currentSort === 'za'">
                    <label for="za">Z-A</label>
                </div>
            </div>
        </div>

        <div class="contenedor-filtro">
            <div  class="title-nombre">
                <h3>Especie</h3>
                <img src="../../../../../assets/icons/mas.png" alt="">
            </div>
            <div class="filtro_nombre">
                <div class="contain">
                    <input type="radio" id="perro" name="order" (click)="filterSpecies('perro')" [checked]="currentSpecies === 'perro'">
                    <label for="perro">Perro</label>
                </div>
                <div class="contain">
                    <input type="radio" id="gato" name="order" (click)="filterSpecies('gato')" [checked]="currentSpecies === 'gato'">
                    <label for="gato">Gato</label>
                </div>
                <div class="contain">
                    <input type="radio" id="todos" name="order" (click)="filterSpecies('todos')" [checked]="currentSpecies === 'todos'" >
                    <label for="todos">Todos</label>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="adopciones.length > 0 && filteredAdopciones.length === 0 " class="emptyState">
    <div class="estado-vacio">
        <h1>No hay resultados que coincidan con tu búsqueda.</h1>
        <img src="../../../../../assets/icons/muelin (1) (1).gif" alt="">
        <p>Revisa la ortografía de la palabra.</p>
        <p>Utiliza palabras más genéricas o menos palabras.</p>
    </div>
</section>

<!--
(eliminar)="handleEliminar($event)">
-->
