.box {
    width: 100%;
    height: 320px; 
    display: flex;
    margin-bottom: 36px;
}

.cajas {
    width: 40%;
    height: 400px;
}

.caja1 {
    width: 60%;
    height: 350px;
    padding-top: 28px;
}

@media (max-width: 352px){
    .caja1 { display: none;}

    .cajas{
        width: 100%;
        height: 400px;
    }
}

/* Responsive para pantallas pequeñas (352px - 480px) */
@media (min-width: 352px) and (max-width: 480px) {
    .box {
        width: 100%;
        flex-direction: column;
    }

    .cajas {
        width: 100%;
        height: 400px;
    }

    .caja1 {
        width: 100%;
        padding-top: 20px;
    }
}

/* Responsive para pantallas medianas (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cajas {
        width: 100%;
    }

    .caja1 {
        width: 100%;
        padding-top: 24px;
    }
}

/* Responsive para pantallas grandes (769px - 920px) */
@media (min-width: 769px) and (max-width: 920px) {
    .box {
        width: 100%;
      
    }

    .cajas {
        width: 0%;
        display: none;
    }

    .caja1 {
        width: 100%; 
        padding-top: 28px;
    }
}


@media (max-width: 980px){
    .box {
        width: 100%;
      
    }

    .cajas {
        width: 0%;
        display: none;
    }

    .caja1 {
        width: 100%; 
        padding-top: 28px;}
}