.background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000049;
}



.header{
    display: flex;
    width: 100%;
    height: auto;

    justify-content: space-between;
    padding: 10px 10px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.vacio{
    width: 60%;
    border: 4px solid #CCC4FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px #CCC4FF;
    padding: 20px;
}

.vacio img{
    width: 200px;
    height: 200px;
}

.vacio h1{
    font-size: 25px;
}



.modal {
    width: 800px;
    height: 600px; /* Establece una altura fija para el modal */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Agrega barra de desplazamiento vertical cuando el contenido exceda la altura */
}
.centrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0 ;
    margin-left: 25px;
}
.precio{
    display: flex;
    justify-content: center;
    align-items: center;

}
.precio p{
display: flex;
align-items: center;
margin-top: 15px;
font-size: 20px;

}

.mocapi{
    display: flex;
    justify-content: space-around;
}
.producto{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.producto1{
    display: flex;
    align-items: center;
}

.carro{
    width: 60px;
    height: 60px;
}
.info{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #CCC4FF;
    width: 100%;
    height: 40px;
    align-items: center;
}
.info1{
    margin-top: 20px;
}

.info2 , .producto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}


.imagen-principal , .mocapi{
    display: flex;
    align-items: center;
}

.mocapi{
    justify-content: space-evenly;
}

.imagen-principal , .info1 h1 {
width: 300px;
}


.info1 , h1{
    padding-left: 15px;
}
.imagen-principal img{
    width: 100px;
    height: 100px;
    padding: 5px;


}
.tabla{
    width: 750px;
    height: auto;
    border: 2px solid #CCC4FF;
    background-color: white;
    border-radius: 18px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
  }

  .quantity-button {
    width: 30px;
    height: 30px;
    background-color: #CCC4FF;
    color: #000000;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .quantity {
    font-size: 18px;
    margin: 0 10px;
  }
  /* carrito.component.css */
.carrito-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
  }

  .btn-danger {
    background-color: #CCC4FF;
  }

  .btn-success {
    background-color: #CCC4FF;
  }

  .delete-button {
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.eliminar {
    width: 25px;
    height: 20px;
    margin-left: 17px;
}


@media (max-width: 768px) {
    .modal {
        width: 90%;}
    
    }
    .centrar{
        width: 100%;
    }
    .centrar{
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
}
.info2, .producto {
    display: flex;
    justify-content: space-evenly;
}
    .tabla{
        width: 90%;
    }
    h1 {
        padding-left: 15px;
        font-size: 20px;
    }
    .quantity-button {
        width: 20px;
        height: 20px;
        background-color: #CCC4FF;
        color: #000000;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
    }
    .producto {
        width: 40%;
        margin-top: 0;
    }
    .precio p {
        font-size: 13px;
    }
    .quantity {
        font-size: 15px;
    }
    .imagen-principal img {
        width: 30%;
        height: 30%;
    }
    .nombre{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
        @media (max-width: 650px) {
            .centrar{
                margin-top: -30px;
            }
            .carro{
                width: 55px;
                height: 55px;
            }
            .info1 h1 {
                width: 155px;
                font-size: 15px;
            }
            h1{
                font-size: 15px;
            }
            .nombre{
                font-size: 10px;
                width: 120px;
            }
            .imagen-principal img {
                width: 65px;
                padding: 5px;
            }
            .quantity {
                margin-left: 0;
                margin-right: 0;
            }
            .producto {
                width: 80%; 
                margin-top: 0;
            }
            .precio p {
                width: 60px;
            }
            .btn-danger {
                width: 151px;
                
            }
        }
    /* Media queries para pantallas muy pequeñas */
    @media (max-width: 480px) {
        .info {
            height: 20px;
        }
        h1 {
            font-size: 11px;
        }
        .info1 h1 {
            width: 130px;
            font-size: 11px;
            padding: 0;
        }
        .nombre{
            font-size: 8px;
            width: 70px;
        }
        .quantity-button {
            width: 0px;
            height: 0px;
            font-size: 10px;
        }
        .producto{
            width: 100%;
        }
        .precio p {
            width: 70%;
            font-size: 8px;
        }
        .btn-danger {
        width: 110px;
        height: 30px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-success {
        width: 110px;
        height: 30px;
        font-size: 8px;
        display: flex;
        align-items: center;
    }
    .eliminar{
    width: 15px;
    height: 11px;
    margin-left: 0;
    margin-right: 15px;
    
    }
    .precio {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .carro {
        width: 40px;
        height: 40px;
    }
}
    
      
    
    