<div class="background">
    <div class="modal">
        <div class="header">
            <div class="precio">
                <img src="../../../../../assets/images/carrocompras.webp" alt="" class="carro">
                <p>Total: {{ precioTotal | currency:'COP':'symbol':'1.0-0' }}</p>
            </div>
            <div class="salir">
                <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="" (click)="closemodal()">
            </div>
        </div>
        <section *ngIf="allData.length <= 0 " >
            <div class="vacio">
                <h1>Vaya...</h1>
                <img src="../../../../../assets/images/gato.png" alt="">
                <h2>Parece que no haz agendado una cita</h2>
                <h3>Agenda tu cita para que puedas tener un historial.</h3>
            
              </div>
        </section>
        <section *ngIf="allData.length > 0 ">
        <div class="centrar">
            <div class="tabla" *ngFor="let producto of allData">
                <div class="info">
                    <div class="info1">
                        <h1>Articulo</h1>
                    </div>

                    <div class="info2">
                        <h1>Cantidad</h1>
                        <h1>Subtotal</h1>
                    </div>
                </div>
                <div class="mocapi">
                    <div class="imagen-principal">
                        <img [src]="producto.imagen" alt="">
                        <p>{{producto.nombreProducto}}</p>

                    </div>

                    <div class="producto">
                        <div class="cart-item">
                            <button class="quantity-button" (click)="disminuirCantidad(producto)" >-</button>
                            <span class="quantity">{{ producto.cantidad }}</span>
                            <button class="quantity-button" (click)="aumentarCantidad(producto)">+</button>
                          </div>
                          <p>{{ producto.precioUnitario * producto.cantidad | currency:'COP':'symbol':'1.0-0'}}</p>

                    </div>
                </div>
            </div>
        </div>
     <!-- carrito.component.html -->
<div class="carrito-actions">
    <button type="button" (click)="eliminarProducto()"  class="btn btn-danger">Vaciar Carrito</button>
    <button class="btn btn-success" (click)="finalizarCompra()">Finalizar Compra</button>
</div>
