<div class="calendar-header">
  <button (click)="previousMonth()">&lt;</button>
  <span>{{ viewData | date: 'MMMM yyyy' }}</span>
  <button (click)="nextMonth()">&gt;</button>
</div>

<div class="calendar-container">
  <div class="calendar">
    <div class="day-name" *ngFor="let dayName of dayNames">{{ dayName }}</div>
    <div 
      *ngFor="let day of daysInMonth" 
      class="day" 
      [ngClass]="{
        'disabled': isSunday(day) || isBeforeFirstDay(day), 
        'selected': day === selectedDay,
        'outside-month': isOutsideMonth(day),
        'before-first-day': isBeforeFirstDay(day)
      }"
      (click)="isOutsideMonth(day) || isBeforeFirstDay(day) || isSunday(day) ? null : selectDay(day)"
    >
      {{ isOutsideMonth(day) ? '' : day.getDate() }}
    </div>
  </div>
</div>
