.filtro-categorias {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.filtro-categorias ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%; /* Asegura que la lista ocupe todo el ancho */
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Permite que los elementos de la lista se envuelvan en pantallas pequeñas */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.filtro-categorias li {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-weight: 700;
    color: #6254bd;
    margin: 5px; /* Agrega margen para separar los elementos */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.filtro-categorias li:hover {
    background-color: #e0e0e0;
}

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
    .filtro-categorias li {
        padding: 8px 15px;
        font-size: 14px; /* Ajusta el tamaño del texto */
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .filtro-categorias li {
        padding: 6px 10px;
        font-size: 12px; /* Ajusta aún más el tamaño del texto */
        text-align: center; /* Centra el texto dentro del elemento */
    }
}
