<app-header [ruta]="'/historial'" [title]="'Consultar Historial'"></app-header>
<section class="emptyState" *ngIf="citas.length <= 0">
  <p id="ono">¡Oh no!</p>
  <img src="../../../../../assets/images/chaplanitoclientes.jpeg" alt="">
  <p id="noTienesClientes">Aún no tienes citas</p>
</section>
<section *ngIf="citas.length > 0" class="background">
  <app-table-historial 
    [citas]="citas"  
    (citaEliminada)="onCitaEliminada($event)" 
    (citaActualizada)="onCitaActualizada()">
  </app-table-historial>
</section>
