
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px; 
    right: 0; 
    left: 0;
    bottom: 0;
    background-color: rgba(43, 43, 53, 0.251); 
  }


  .modal-content {
    width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: none;
    background-color: white;
  }

  .modal-content img {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 40px;
}
  .texto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  button{
    background-color: rgba(209, 0, 0, 0.47);
    color: #607175;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; 
  right: 0; 
  left: 0;
  bottom: 0;
  background-color: rgba(43, 43, 53, 0.251); 
}


.modal-content {
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: none;
  background-color: white;
}
.texto{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button{
  background-color: rgba(55, 163, 59, 0.47);
  color: #607175;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 920px) and (min-width: 769px) {
  .modal{
    bottom: -515px;
    display: flex;
    align-items: end;
  }
  .modal-content {
   margin-bottom: 235px;
}
}

@media (max-width: 768px) and (min-width: 481px) {
  .modal{
    bottom: -515px;
    display: flex;
    align-items: end;
  }
  .modal-content {
   margin-bottom: 235px;
}
}

@media (max-width: 480px) {
  .modal{
    bottom: -620px;
    display: flex;
    align-items: end;
  }
  .modal-content {
   margin-bottom: 235px;
   width: 390px;
}
}
