<div class="modal">
    <div class="modal-content">
        <img src="../../../../../assets/icons/logopets.png" alt="">
        <app-label [for]="'Transacción cancelada'" style="font-size: 20px; color: black;"></app-label>
        <img src="../../../../../assets/icons/logopets.png" alt="">
        <div class="texto">
            <app-label [for]="'La operación ha sido cancelada'" style="font-size: 20px; color: black;"></app-label>
        </div>
        <button (click)="closeModal()">OK</button>
    </div>
</div>