.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 300px;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  width: 700px; /* Asegúrate de que haya suficiente espacio para el calendario y el modal */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px; 
  width: 310px;

  .day {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;

    &.disabled {
      background-color: grey;
      color: white;
      pointer-events: none;
    }

    &.before-first-day {
      background-color: transparent;
      color: transparent;
      pointer-events: none;
      border-color: transparent;
    }

    &.selected {
      background-color: purple;
      color: white;
    }
  }

  .day:hover {
    background-color: rgb(212, 87, 234);
    color: white;
  }

  .day-name {
    text-align: center;
    font-weight: bold;
  }

  .day.outside-month {
    background-color: #fff; 
    color: #ccc; 
    cursor: default; 
  }
}

.horarios-modal {
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  width: 300px;
}
