.meses{
width: 60%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: flex-end;
padding-left: 36px;
padding-bottom: 8px;
margin-bottom: 8px;
}

.calendar-header {
  display: flex;
  justify-content:space-around ;
  margin-bottom: 10px;
  width: 50%;
 
}

.calendar-header button {
  width: 30px;
  height: 30px;
  background-color: #CCC4FF;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 30%;
  cursor: pointer;
}

.calendar-header button:hover {
  /* Estilos al pasar el mouse sobre los botones */
  background-color: #ddd;
}


section{
  width: 100%;
  display: flex;
  height: 650px;
  justify-content: center;
  border: 2px solid #CCC4FF;
  border-radius: 30px;
}

.principal {
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 36px;
  position: relative; /* Añadido para posicionar el modal correctamente */
}

.calendar-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 36px;
  position: relative; /* Necesario para posicionar el modal dentro de este contenedor */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px; 
  width: 80%;


  .day {
    width: 70px;;
    height: 70px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 4px;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;

    &.disabled {
      background-color:rgb(189, 173, 173, 0.32);
      color: black;
      pointer-events: none;
    }

    &.before-first-day {
      background-color: transparent;
      color: transparent;
      pointer-events: none;
      border-color: transparent;
    }

    &.selected {
      background-color:#CCC4FF;
      color: white;
    }
  }

  .day:hover {
    background-color:  #9588e4;
    color: white;
  }

  .day-name {
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
  }

  .day.outside-month {
    background-color: #fff; 
    color: #ccc; 
    cursor: default; 
  }
}



.modal {
  position: absolute; /* Posiciona el modal sobre el calendario */
  top: 0;
  right: -50%; /* Ajusta según el tamaño del modal y el espacio necesario */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Asegúrate de que el modal esté sobre otros elementos */
}

.horarios-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 36px;
  margin-right: 36px;
}
