<div class="modal">
    <div class="modal-content">
        <img src="../../../../../assets/icons/logopets.png" alt="">
        <app-label [for]="'¡Gracias!'" style="font-size: 20px; color: #498649;"></app-label>
        <img src="../../../../../assets/icons/logopets.png" alt="">
        <div class="texto">
            <app-label [for]="'Tu pago ha sido realizado'" style="font-size: 20px; color: #498649;"></app-label>
            <app-label [for]="'exitosamente.'" style="font-size: 20px; color: #498649;"></app-label>
        </div>
        <button (click)="closeModal()">OK</button>
    </div>
</div>
