.footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    border-top: 5px solid #BEF3FF;
}

h1{
    margin-bottom: 20px;
}
