.footer{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 24px;
    border-top: 5px solid #BEF3FF;
}

h1{
    margin-bottom: 24px;
}
