section {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    }

    .vacio{
        width: 60%;
        border: 4px solid #CCC4FF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0 0 10px #CCC4FF;
        padding: 20px;
    }
    
    .vacio img{
        width: 300px;
        height: 300px;
    }
    
    .vacio h1{
        font-size: 25px;
    }
    
    .volver{
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        background-color: rgb(221, 221, 221);
    }
    
    .table-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 100px;
    }
    
    .clients-table {
    width: 1050px;
    border-collapse: collapse;
    table-layout: fixed; /* Añade esta línea para una distribución uniforme */
    }
    
    .clients-table th, .clients-table td {
    padding: 20px;
    text-align: center;
    }
    
    .clients-table th {
    background-color: #CCC4FF;
     color: #7b7979c4;
    }
    
    .clients-table tbody tr:nth-child(even) {
    background-color: #ccc4ff6b;
    }
    
    .client {
     border: 1px solid #D9D9D9;
     width: 1050px;
     box-sizing: border-box;
    }
    
    .client table {
    width: 100%;
     border-collapse: collapse;
     table-layout: fixed; /* Añade esta línea para una distribución uniforme */
    }
    
    .client td {
     text-align: center;
     padding: 20px;
    }
    
    .text1, .text2, .text3, .text4, .text5, .text6, .download {
     width: 150px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
    }

    .descarga img{
        width: 20px;
        height: 20px;
        border: none;
        cursor: pointer;
    }




    @media (max-width:1279px){
        .text1, .text2, .text3, .text4, .text5, .text6, .download {
            width: 100px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
           }

           .client{
            width: 700px;
           }

           .clients-table{
            width: 700px;
           }

           .clients-table th, .clients-table td {
            padding: 10px;
            text-align: center;
            font-size: 12px;
            }
    }


    @media (max-width: 768px){
        .text1, .text2, .text3, .text4, .text5, .text6, .download {
            width: 60px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
           }

           .client{
            width: 420px;
           }

           .clients-table{
            width: 420px;
           }

           .clients-table th, .clients-table td {
            padding: 5px;
            text-align: center;
            font-size: 8px;
            }

            .table-container{
                margin-top: 50px;
            }
    }

    
    @media (max-width: 480px){
        .text1, .text2, .text3, .text4, .text5, .text6, .download {
            width: 42.8px ; /* Ajusta el ancho para que coincida con la celda de la tabla */
           }

           .client{
            width: 300px;
           }

           .clients-table{
            width: 300px;
           }

           .clients-table th, .clients-table td {
            padding: 5px;
            text-align: center;
            font-size: 5px;
            }
    }
