<app-header [ruta]="'/table-historial'" [title]="'consultar historial'"></app-header>
<section class="estadovacio" *ngIf="citas.length <= 0 ">
  <div class="vacio">
    <h1>Vaya...</h1>
    <img src="../../../../../assets/images/gato.png" alt="">
    <h2>Parece que no hay citas para mostrar</h2>
    <button class="volver" routerLink="/home-vet">Volver</button>
  </div>
</section>
<section class="section" *ngIf="citas.length > 0 ">
  <div class="table-container">
    <table class="clients-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Nombre</th>
          <th>Tipo de Cita</th>
          <th>Especie</th>
          <th>Costo</th>
          <th>Descargar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas" class="client">
          <td class="text1">{{ cita.fecha }}</td>
          <td class="text2">{{ cita.hora }}</td>
          <td class="text3">{{ cita.nombre }}</td>
          <td class="text4">{{ cita.tipo }}</td>
          <td class="text5">{{ cita.especie }}</td>
          <td class="text6">{{ cita.costo }}</td>
          <td class="download">
            <img src="../../../../../assets/icons/descargas (5) 3.png"   (click)="downloadFile(cita.descarga, 'cita_' + cita.nombre + '.png')" alt="">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>