<app-header-vet></app-header-vet>
<section class="estadovacio" *ngIf="citas.length <= 0 ">
  <div class="vacio">
    <h1>Vaya...</h1>
    <img src="../../../../../assets/images/gato.png" alt="">
    <h2>Parece que no hay citas para mostrar</h2>
  </div>
</section>
<section class="section" *ngIf="citas.length > 0 ">
  <div class="table-container">
    <table class="clients-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Nombre</th>
          <th>Tipo de Cita</th>
          <th>Especie</th>
          <th>Precio</th>
          <th>Descargar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cita of citas" class="client">
          <td class="text1">{{ cita.fecha }}</td>
          <td class="text2">{{ cita.hora }}</td>
          <td class="text3">{{ cita.nombreUsuario }}</td>
          <td class="text4">{{ cita.tipoCita }}</td>
          <td class="text5">{{ cita.especie }}</td>
          <td class="text6">{{ cita.precio }}</td>
          <td class="download">
            <img src="../../../../../assets/icons/descargas (5) 3.png"   (click)="downloadFile(cita.descarga, 'cita_' + cita.nombre + '.png')" alt="">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
