section{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  }
  
  .madre{

      height: 550px;
      width: 80%;
      background-color:rgba(191, 224, 255, 0.19);
      display: flex;
      align-items: center;
      justify-content: space-around;
      
  }
.hijo{
  display: flex;
  justify-content: space-between;
}
  
  /* style 6 */
  
  /* Ocultar el input tipo file */
  
    
    .formulario1,
    .formulario2{
      display: flex;
      flex-direction: column;
      margin-left: 50px;
    }
  
  
  .custom-select,
  .Esterilizacion,
  .sexo,
  .estadovacunacion{
    background-color: #CCC4FF;
    border-radius: 5px;
    width:300px; height: 40px;
    font-size: 15px; border: none;
    margin-bottom: 30px;
   }
  
  .formulariopadre{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
  }
  
  
  
  .custom-select,
  .sexo,
  .estadovacunacion,
  .Esterilizacion:focus{
  border: none;
  }
  
  .inputfile {
    display: none;
  }
   
  .container-input {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 30px;
    
  }

  h1 {
    font-family: 'Poppins', sans-serif; /* Tipografía moderna y limpia */
    font-size: 2.5rem; /* Tamaño grande para destacar */
    font-weight: 700; /* Negrita para mayor énfasis */
    color: #000; /* Color inicial negro */
    text-align: center; /* Centrado horizontal */
    margin: 20px 0; /* Espaciado superior e inferior */
    position: relative; /* Para posicionar elementos adicionales */
    line-height: 1.2; /* Espaciado entre líneas */
    transition: color 0.3s ease-in-out; /* Transición suave para el cambio de color */
  }
  
  h1::after {
    content: '';
    display: block;
    width: 80px; /* Ancho de la línea decorativa */
    height: 4px; /* Alto de la línea */
    background: linear-gradient(to right, #CCC4FF, #A6A0F0); /* Degradado morado */
    margin: 10px auto 0; /* Centrado y espaciado debajo del h1 */
    border-radius: 2px; /* Bordes redondeados para la línea */
  }
  
  h1:hover {
    color: #CCC4FF; /* Cambia el color del texto a morado cuando se pasa el mouse */
  }
  
  

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .image-preview {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .image-preview p {
    font-size: 16px;
    color: #666;
    text-align: center;
  }
  
  .image-preview img {
    width: 50px;
    height: auto;
  }
  
  .image-preview:hover {
    border-color: #666;
  }
  
  
  .error-message {
    color: red;
    font-size: 12px;
    bottom:   5px; 
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    transform: translateY(5px); /* Separación del input */
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap; /* Evita el salto de línea */
    z-index: 10; /* Asegura que el mensaje quede por encima de otros elementos */
  }
  
  /* Contenedor de los inputs */
  .input-group {
    position: relative; /* Necesario para el posicionamiento absoluto del mensaje de error */
  }
  
  
  
  .fondo{
    width: 310px;
    height: 210px;
    background-color: #E8E8E8;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnsubmit {
    margin-left: 350px;
    text-align: center; /* Centra el botón dentro de su contenedor */
    margin-bottom: -30px;
  }
  
  .btn__agendar {
    background-color: rgba(87, 250, 60, 0.47); /* Color de fondo verde */
    color: rgb(0, 0, 0); /* Color del texto en blanco */
    padding: 12px 24px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    margin-right: 80px;
    
  }
  
  
  .btn__agendar:active {
    background-color: #3e8e41; /* Color cuando se presiona */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña cuando se presiona */
    transform: translateY(2px); /* Desplazamiento hacia abajo cuando se presiona */
  }
  .btn__cancelar {
    background-color: rgba(250, 60, 60, 0.47); /* Color de fondo verde */
    color: rgb(0, 0, 0); /* Color del texto en blanco */
    padding: 12px 24px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
  }

 textarea{
  padding:10px 10px 150px 10px; background-color: #CCC4FF; border-radius: 5px; width: 300px; height: 180px; font-size: 15px; border: none; margin-bottom: 30px; color: black; line-height: 1;
  padding: 10px; 
  text-align: start;
  overflow: hidden; 
  text-overflow: ellipsis; 
  resize: none; 
  box-sizing: border-box; 
 } 
 textarea::placeholder {
  color: #000; /* Color del placeholder */
  font-size: 16px; /* Tamaño de la fuente del placeholder */
}
  


  /* Pantallas grandes (1280px+) */
@media (min-width: 1280px) {
 
}

/* Pantallas medianas (921px - 1279px) */
@media (min-width: 921px) and (max-width: 1279px) {
  section{
    margin-top: 30px;
  }
  .madre{
    height: 820px;
    width: 80%;
    display: flex;
  }
  .hijo{
    display: flex;
    flex-direction: column;
    
  }
  .container-input {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    width: 100%;             /* Asegura que tome el 100% del ancho disponible */
    height: 100%;  
    margin: -10px;
  }
  .fondo{
    width: 310px;
    height: 210px;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulariopadre{
    margin-left: -100px;
    margin-top: 20px;
  }
  .btnsubmit {
    margin-top: 10px;
    margin-left: 0;
    text-align: center; /* Centra el botón dentro de su contenedor */
  }

}

/* Pantallas pequeñas (769px - 920px) */
@media (min-width: 769px) and (max-width: 920px) {
  .madre{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
     margin-bottom: 50px;
  }
  .hijo{
    display: flex;
    flex-direction: column;
    
  }
  
  .container-input {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    width: 100%;             /* Asegura que tome el 100% del ancho disponible */
    height: 100%;   
    margin-top: 0;
  }
 .formulariopadre{
  margin-top: 20px;
  margin-right: 100px;
 }
 .formulario2{
  margin-left:30px;
 }
 .btnsubmit{
  margin-left: 0%;
  margin-bottom: 20px;
 }
  }


/* Pantallas móviles grandes (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
 .madre{
 
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 50px;
 }
  .hijo{
    display: flex;
    flex-direction: column;
    
  }
  .container-input {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    width: 100%;             /* Asegura que tome el 100% del ancho disponible */
    height: 100%;   
    margin-top: 0;
    
  }
  .formulariopadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 90px;
    margin-top: 20px;
  }
  .btnsubmit{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .btn__agendar {
    background-color: rgba(87, 250, 60, 0.47); /* Color de fondo verde */
    color: rgb(0, 0, 0); /* Color del texto en blanco */
    padding: 12px 24px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    margin-right: 50px;
    
  }
}

/* Pantallas móviles pequeñas (352px - 480px) */
@media (max-width: 352px) {
  
}
