footer{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #CCC4FF;
    
    
    
}

.info{
    width:50% ;
    height: 80px;
    display: flex;
    justify-content:flex-start ;
    padding-left: 24px;
    flex-direction: column;
}

.flex{
    width:50%;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    padding-left: 4px;
}

.correo{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}