<footer> 
   <div class="direccion">
    <app-info-footer></app-info-footer>
          <div class="iconos"> 
           <app-inconphone></app-inconphone>
           <app-inconmessage></app-inconmessage>
           <app-inconmap></app-inconmap>
         </div>
         <p>© 2024 CLINIC PET’S - Todos los derechos reservados</p>
  </div> 

<div class="informacion">

  <div class="contactenos">
     <h2>contactenos</h2>
     <p>Ventas al 3124473326</p>
     <p>Correo: Clinic&#64;gmai.com</p>
  </div>
  
  <div class="importante">
    <h2>importante</h2>
    <p>Terminos y condiciones</p>
    <p>Metodos de Pago aceptados</p>
  </div>
</div>
</footer>

