<div class="header-container">
  <button>Mis publicaciones</button>
  <div class="search-container">
      <input [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" type="text" placeholder="Buscar..." class="search-input">
      <span class="search-icon">
        <!--
           <img src="../../../../../assets/icons/buscar.png" alt="">
        -->

      </span>
  </div>

  <button (click)="navigateToNuevaAdopcion()">Nueva Publicación</button>

<div class="search-container-responsive">
  <input  [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" type="text" placeholder="Buscar..." class="search-input">
  <span class="search-icon">
       <img src="../../../../../assets/icons/buscar.png" alt="">
    </span>

</div>
</div>


