.header-container {
    background-color: #CCC4FF;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 44px;
    align-items: center;
}

 button {
    background-color: #E9E1FE;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* Contenedor del buscador */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    width: 550px;
    justify-content: center;
}

.search-input {
    padding: 10px 40px;
    font-size: 13px;
    border: 2px solid #000;
    border-radius: 20px;
}

.search-icon {
    position: absolute;
    left: 29%; /* Alineación del ícono del buscador */
    font-size: 20px;
    pointer-events: none;
    color: #000;
}

img {
    width: 15px;
    height: 15px;
}

.search-container-responsive {
    display: none;
    position: relative;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
}

.search-input-responsive {
    width: calc(100% - 30px); 
    padding: 10px 30px;
}

.search-icon-responsive {
    position: absolute;
    right: 10px; 
    font-size: 20px;
    color: #000;
}

/* Responsive Design */
@media screen and (max-width: 352px) {
    .header-container {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .search-container {
        display: none; /* Ocultar el buscador original */
    }

    .search-container-responsive {
        display: flex; /* Mostrar el nuevo buscador en la parte inferior */
        width: 100%;
        margin-top: 20px; /* Espacio entre el buscador y los botones */
    }

    .search-input-responsive {
        width: 100%;
    }

    button, a {
        padding: 8px 20px;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .header-container {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }

    .search-container {
        display: none; 
    }

    .search-container-responsive {
        display: flex; 
        width: 100%;
        margin-top: 20px; 
    }

    .search-input-responsive {
        width: 100%;
    }

    button, a {
        padding: 8px 20px;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width:769px){


}