app-header-home {
  position: relative; /* Asegura que el encabezado esté en una capa superior */
  z-index: 2; /* Ajusta el índice z para que esté encima del carrusel */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo translúcido */
  /* Otros estilos para el encabezado según sea necesario */
  
}  

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #CCC4FF;
    padding: 0 44px;
    border-bottom: 3px solid white;
  }


  .hola {
    display: flex;
    align-items: center;
    padding: 0 24px;
    
}


  .search-input {
    padding: 8px;
    border: 1.5px solid black;
    border-radius: 8px;
    margin-left: 100px;
    height: 40px;
    width: 100%;

  }



  .hola {
    padding: 0 12px;
    height: 40px;
    display: flex;
    align-items: center;
  }



.car{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.car img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
    cursor: pointer;
}



.btn__add__Product{
  border-radius: 8px;
  text-align: center;
  margin-right: 20px;
  background-color: #CCC4FF;
  color:black;
  border: 3px solid  white ;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.btn__add__Product:hover {
  background-color: white; /* Color más claro o diferente cuando el cursor está encima */
  color: black;
  border: 2px #CCC4FF solid;
}

.btn__add__Product:active {
  background-color: rgb(124, 148, 215); /* Color más oscuro para el estado presionado */
  border: 2px rgb(124, 148, 215) solid;
  transform: scale(0.98); /* Efecto de reducción al presionar */
}

@media (max-width: 768px) {

.car img {
  width: 50px;
  height: 50px;
  margin-right: 0px;
}
.profil {
  width: 120px;
  height: 50px;
  padding: 0px 5px;
}
.user h3 {
  font-size: 10px;
  height: 15px;
}
.search-input {
  padding: 8px;
  border: 1.5px solid black;
  border-radius: 8px;
  margin-left: 0;
  height: 40px;
  width: 80%;
}
    .header {
       padding: 0 10px; 
  }
  .hola {
    padding: 0px 0px;
    height: 40px;
    display: flex;
    align-items: center;
}
}
    @media (max-width: 650px) {
      .logo {
        width: 40px;
        height: 40px;
    }
    .car img {
      width: 35px;
      height: 35px;
  }

    }
/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
  .titles {
    width: 80%;
    height: 0px;
}
.search-input {
  height: 30px;
  width: 80%;
}
  .search-input::placeholder{
    font-size: 8px;
  }
}
  

.title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ded8ff;
  padding: 0 50px;
  box-shadow: 10px 0 20px #CCC4FF ;
}

.title a {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.hola, .a, .aa {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}



