<div class="header">
    <app-logo></app-logo>
    <div class="titles">
      <input
        type="text"
        placeholder="Buscar productos..."
        (input)="onSearch($event)"
        class="search-input"/>

</div>
<div class="car">
  <div *ngIf="viewCartBtn; else btnAddProduct">
    <img src="../../../../../assets/icons/mascotas 1.png" alt=""  (click)="showmodal()">
  </div>
   <ng-template #btnAddProduct>
   <button type="button" class="btn__add__Product" (click)="redirectToAnotherPage()"> Agregar Producto</button>
  </ng-template>
  <app-perfil></app-perfil>

</div>
</div>
<app-carrito-modal *ngIf="isModalOpen" (close)="closeModal()" [allData]="allData"></app-carrito-modal>


  





