<div class="header">
  <div class="logo">
    <app-logo></app-logo>
    <h1>Clinic-Pets</h1>
</div>
    <div class="titles">
      <input
        type="text"
        placeholder="Buscar productos..."
        (input)="onSearch($event)"
        class="search-input"/>

</div>
<div class="car">
  <div *ngIf="viewCartBtn; else btnAddProduct">
    <img class="cart__btn" src="../../../../../assets/images/carrocompras.webp" alt=""  (click)="showmodal()">
  </div>
   <ng-template #btnAddProduct>
   <button type="button" class="btn__add__Product" (click)="redirectToAnotherPage()"> Agregar Producto</button>
  </ng-template>
  <app-perfil></app-perfil>

</div>
</div>
<div *ngIf="viewuser== false" >
<div class="title">
  <app-home class="hola"></app-home>
  <app-titulo  [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="aa" [estilo]="'color:black; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="aa" [estilo]="'color:black;font-size: 15px'"></app-titulo>
</div>
</div>
<div *ngIf="viewuser== false" class="menu-container">
  <div class="menu">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <div class="menu-content" [class.active]="isMenuOpen">
      <app-home class="menu-item"></app-home>
      <app-titulo [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      <app-titulo [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      <app-titulo [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      <app-titulo [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      <app-titulo [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
      <app-titulo [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="menu-item" [estilo]="'color:black; font-size: 15px'"></app-titulo>
    </div>
  </div>
</div>


<div *ngIf="viewuser" >
  <div class="title">
    <app-titulo  [ruta]="'/home'" [title]="'Home'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/citas'" [title]="'Citas'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/adopcion'" [title]="'Adopciones'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/tienda'" [title]="'Tienda'" class="aa" [estilo]="'color:black'"></app-titulo>
</div>
</div>
<app-carrito-modal *ngIf="isModalOpen" (close)="closeModal()" ></app-carrito-modal>








