.client {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 20px 0 20px 60px;
    cursor: pointer;
    width: 1000px;
}

.client p {
    margin: 0 20px; 
}

#text1{
    width: 40px;
    text-align: center;
}
#text2{
    width: 130px;
    text-align: center;
}

#text3{
    width: 105px;
    text-align: center;
}
#text4{
    width: 110px;
    text-align: center;
}
#text5{
    width: 230px;
    text-align: center;
}
#text7{
    width: 186px;
    text-align: center;
}
#title8{
    width: 80px;
    text-align: center;
}

#title9{
    width: 80px;
    text-align: center;
}