.client {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 20px 0 20px 60px;
    cursor: pointer;
    width: 1000px;
}

.client p {
    margin: 0 20px; 
}

#text1{
    width: 36px;
    text-align: center;
}
#text2{
    width: 117px;
    text-align: center;
}

#text3{
    width: 94px;
    text-align: center;
}
#text4{
    width: 100px;
    text-align: center;
}
#text5{
    width: 167px;
    text-align: center;
}
#text6{
    width: 72px;
    text-align: center;
}
#text7{
    width: 72px;
    text-align: center;
}