.card {
    width: 250px;
    height: 300px;
    background-color:#E0DBFF;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor:pointer;
    ;
}

.logo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

.logo img{
    margin-right: 20px;
    margin-top: 10px;
}


.imagen-principal{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.imagen-principal img{
    width: 70%;
    height: 100%;
}