.contenedores{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    

}

.colorC{
    width: 17%;
    height: 80%;
    display: flex;
    background-image: url(../../../../../assets/images/imghome/Ellipse\ 79.png);
    background-size: contain; 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 74px;
    flex-direction: column;
    margin: 0 15px;
    
}

.position{
    display: flex;
    align-items: center;
    justify-content: center;
}


.position img{
    width: 75%;
    height:75%;
    margin-top: 20px;
}
  

nav{
    width: 18%;
    height:20%;
    display: flex;
    margin-top: 36px;
}

.citas{
    width: 100%;
    font-size: 24px;
    color: #CCC4FF; 
}