<div class="contenedores">
  <div class="colorC">
      <div class="position">
        <div class="rounded-container" [routerLink]="ruta" routerLinkActive="active">  
        <img src="../../../../../assets/images/imghome/cita (3) 1.png" alt="">
      </div>
       </div>
          <nav>
            <app-titulo class="titulos">
          
            </app-titulo>
            
         </nav> 
  </div>


  <div class="colorC">
    <div class="position">
      <div class="rounded-container" routerLink="/citas" routerLinkActive="active">
      <img src="../../../../../assets/images/imghome/tienda (1) 1.png" alt="" >
    </div> 
     </div>     
 <nav>  
  <app-t-tienda class="titulos"></app-t-tienda>
    </nav> 
</div>
<div class="colorC">
     <div class="position">
      <div class="rounded-container">
    <img src="../../../../../assets/images/imghome/adoptado 1.png" alt="">
     </div> 
  </div>      
<nav>
  <app-t-adopcion class="titulos"></app-t-adopcion>
  </nav> 
</div>
</div>
