<div class="hola">
  <button class="drawer-toggle" (click)="toggleDrawer()">☰</button>
</div>
<div class="contenedores" [ngClass]="{'open': drawerOpen}">

  <div class="colorC">
    <div class="position">
      <div class="rounded-container" [routerLink]="'/citas'" routerLinkActive="active">
        <img src="../../../../../assets/images/imghome/cita (3) 1.png" alt="Citas">
      </div>
    </div>
    <nav>
      <app-titulo class="titulos" [estilo]="''" [ruta]="'/citas'" [title]="'Agendar Cita'"></app-titulo>
    </nav> 
  </div>

  <div class="colorC">
    <div class="position">
      <div class="rounded-container" routerLink="/tienda" routerLinkActive="active">
        <img src="../../../../../assets/images/imghome/tienda (1) 1.png" alt="Tienda">
      </div> 
    </div>
    <nav>
      <app-titulo class="titulos" [estilo]="''" [ruta]="'/tienda'" [title]="'Tienda'"></app-titulo>
    </nav> 
  </div>

  <div class="colorC">
    <div class="position">
      <div class="rounded-container" routerLink="/adopcion" routerLinkActive="active">
        <img src="../../../../../assets/images/imghome/adoptado 1.png" alt="Adopción">
      </div> 
    </div>
    <nav>
      <app-titulo class="titulos" [estilo]="''" [ruta]="'/adopcion'" [title]="'Adopción'"></app-titulo>
    </nav> 
  </div>



  <div class="colorC">
    <div class="position">
      <div class="rounded-container" routerLink="/lost-pets" routerLinkActive="active">
        <img src="../../../../../assets/images/imghome/desaparecido.png" alt="Mascotas desaparecidas">
      </div> 
    </div>
    <nav>
      <app-titulo class="titulos" [estilo]="''" [ruta]="'/lost-pets'" [title]="'Mascotas desaparecidas'"></app-titulo>
    </nav> 
  </div>
</div>