
<div class="contenedores">

  <div class="colorC">
      <div class="position">
        <img src="../../../../../assets/images/imghome/tienda 2.png" alt="">
       </div>     
   <nav>
       <div class="tienda">
            <app-t-tienda class="titulo"></app-t-tienda>
        </div>
        <div class="i-tienda">
            <app-icon-store class="icon"></app-icon-store>
        </div>  
      </nav> 
  </div>


  <div class="colorC">
    <div class="position">
      <img src="../../../../../assets/images/imghome/tienda 1.png" alt="">
     </div>     
 <nav>
     <div class="tienda">
          <app-t-adopcion class="titulo"></app-t-adopcion>
      </div>
      <div class="i-tienda">
          <app-icon-adopcion class="icon"></app-icon-adopcion>
      </div>  
    </nav> 
</div>
<div class="colorC">
  <div class="position">
    <img src="../../../../../assets/images/imghome/tienda 3.png" alt="">
   </div>     
<nav>
   <div class="tienda">
        <app-titulo [ruta]="'/citas'" [title]="'Citas'" [estilo]="''" class="titulo"></app-titulo>
    </div>
    <div class="i-tienda">
        <app-icon-citas class="icon"></app-icon-citas>
    </div>  
  </nav> 
</div>
