<app-header-vet></app-header-vet>

<app-titulo [title]="'Citas Programadas'" [estilo]="'font-size: 17px ; color: black ; padding: 28px' "></app-titulo>

<nav class="meses">
  <div class="calendar-header">
    <a class="flecha" (click)="previousMonth()">&lt;</a>
    <span>{{ viewData | date: 'LLLL' }}</span>
    <a class="flecha" (click)="nextMonth()">&gt;</a>
  </div>
  <div class="calendar-header">
    <a class="flecha" (click)="previousday()">&lt;</a>
    <span>{{ viewData | date: 'dd/MM/yyyy' }}</span>
    <a class="flecha" (click)="nextday()">&gt;</a>
  </div>
</nav>

<div class="calendar-container">
  <div class="calendario">
    <div class="header-row">
      <div class="header-cell hora-name">Hora</div>
      <div class="header-cell" *ngFor="let day of daysInMonth">
        {{ day | date: 'EEEE' }} {{ day.getDate() }}
      </div>
    </div>

    <!-- Fila de horas y días -->
    <div *ngFor="let hora of horas" class="hora-row">
      <div class="hora-name">{{hora}}</div>
      <div *ngFor="let day of daysInMonth" [ngClass]="{'current-day': isCurrentDay(day), 'alternate-color': isAlternateColor(day)}" class="day-name">
        <ng-container *ngIf="getCitaForDayAndHour(day, hora) as cita">
          <a (click)="navigateToHistorial(cita.idCita)" href="javascript:void(0);">{{ cita.nombreUsuario }}
            <!-- <pre>{{ getCitaForDayAndHour(day, hora) | json }}</pre> -->
          </a>
        </ng-container>
        
      </div>
    </div>
  </div>
</div>