.padre{

  display: flex;
  justify-content: space-around;
}

.contenedor-imagen {
  width: 400px; /* Ancho fijo para el contenedor */
  height: 500px; /* Altura fija para el contenedor */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
  border: 2px solid #ddd; /* Borde alrededor del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  position: relative; /* Necesario para posicionar la imagen correctamente */
  display: flex; /* Para centrar la imagen si es más pequeña que el contenedor */
  align-items: center; /* Alinea la imagen verticalmente en el centro */
  justify-content: center; /* Alinea la imagen horizontalmente en el centro */
}

.contenedor-imagen img {
  width: 90%; /* La imagen ocupa el 100% del ancho del contenedor */
  height: 80%; /* La imagen ocupa el 100% de la altura del contenedor */
  transition: transform 0.3s ease; /* Transición suave para el zoom */
  object-fit: cover; /* La imagen cubre el contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.contenedor-imagen:hover {
  cursor: zoom-in; /* Cambia el cursor al pasar el mouse sobre el contenedor */
}

.breadcrumb-container {
  font-family: Arial, sans-serif;
  font-size: 11px;
  }

  .breadcrumb {
  list-style: none;
  display: flex;
   padding: 0;
   margin: 0;
   justify-content: center;
   margin: 20px;
  }

  .breadcrumb li {
   position: relative;
   margin-right: 10px; /* Espacio entre los elementos */
  }

  .breadcrumb li:not(:last-child)::after {
   content: '|'; /* Separador vertical */
   position: absolute;
   right: -10px; /* Ajusta la posición según el espacio entre los elementos */
   top: 0;
   color: #607178; /* Color del separador */
   margin-left: 10px;
   margin-right: 15px;
  }

  .breadcrumb a {
  text-decoration: none;
   color: #607178; /* Color de los enlaces */
   margin-right: 20px;
  }


  .breadcrumb a:hover {
   text-decoration: underline;
  }

  /* Estilo para el breadcrumb de la página actual */
  .breadcrumb .current-page a {
   color: #CCC4FF; /* Color del breadcrumb actual */
   font-weight: bold; /* Opcional: hacer el texto negrita */
  }
  .center{
    margin-top: 20px;
    margin-left: 5px;


  }
  .center h1{
    width: 30%;
    position: absolute;
      margin-top: 0;
      margin-left: 15px;
      text-align: left;
      font-weight: 700;
  }

.partedos section {
  margin-top: 100px;
  
}
.partedos{
  margin-top: 80px;
  width: 50%;

}
.parteuno{
  width: 50%;
}
.botones {
  display: flex;
  
  margin-left: 15px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D9D9D9;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #CCC4FF;
  color: rgb(0, 0, 0);

}

h1 {
  margin-top: 20px;
  color: #333;
  text-align: left;
  margin-left: 25px;
  margin-top: 50px;
    font-weight: 700;
}
 h3 {
  font: 400 16px / 28px Roboto, sans-serif;
  letter-spacing: 0.009375em;
  margin: 0 0 16px;
  width: 300px;
  margin-left: 20px;
  margin-top: 100px;
}
.botones-adicionales h3{
  font: 400 16px / 28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 16px;
  width: 300px;
  margin-left: 15px;
  margin-top: 130px;
  
}
.botones-adicionales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: -100px;
  margin-right: 220px;
  width: 410px;
}

.botones-adicionales h3{

  margin-right: 70px;
}
.botones button {
  background-color: #f0f0f0; // Color predeterminado
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.botones button.selected {
  background-color: #CCC4FF; // Color cuando está seleccionado
  color: black;
}


.agregarAlCarrito {
  width: 185px;
  padding: 10px 20px;
  margin-right: 40px;
  background-color: #CCC4FF;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.agregarAlCarrito:hover {
  background-color: rgba(204, 196, 255, 0.38);
}

.cantidad {
  display: flex;
  align-items: center;

    margin-top: -10px;

}

.btn-cantidad1 {

  padding: 10px 20px;
  background-color: #CCC4FF;
  color: black;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  font-size: 16px;

}
.btn-cantidad2 {
  padding: 10px 20px;
  background-color: #CCC4FF;
  color: black;
  border-radius: 0 10px 10px 0px ;
  cursor: pointer;
  font-size: 16px;
  margin-right: 30px;

}



input[type="text"] {
  width: 45px;
    height: 44px;
  text-align: center;
  font-size: 16px;
 border: none;
}
.botones-carro{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 50px;

}
//info

.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  background-color: #E8E8E8;
  padding-left:80px;

  button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0; /* Elimina el margen entre los botones */
  }

  button.active {
    background-color: #CCC4FF;
    color: black;
  }

  button:not(.active):hover {
    background-color: rgba(204, 196, 255, 0.38);
  }
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border: none; /* Elimina el borde superior */
  margin-top: -1px; /* Elimina el espacio entre las pestañas y el contenido */
  background-color: #fff; /* Fondo blanco para el contenido */

  width: 80%;
}


  h2 {
    margin-top: 5px;  
  }

//link
/* Estilo para los enlaces */
a {
  color: #CCC4FF; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.3s, background-color 0.3s; /* Transición suave para el color y el fondo */
  font-weight: bold; /* Fuente en negrita */
}

/* Estilo para los enlaces al pasar el ratón (hover) */
a:hover {
  color: rgba(204, 196, 255, 0.38); /* Color del enlace al pasar el ratón */
  text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

/* Estilo para los enlaces cuando están activos */
a:active {
  color: #CCC4FF; /* Color del enlace cuando se hace clic */
}

/* Estilo para los enlaces visitados */
a:visited {
  color: #CCC4FF; /* Color del enlace ya visitado */
}



//crad

.card {
  width: 210px;
  height: 300px;
 font-size: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3{
  margin-left: 0px;
    font-size: 12px;
    margin-top: 0px;
    width: 140px;
    height: 60px;
}


  .logo img {
    width: 50px;
    height: auto;
  }
 
  .imagen-principal img {
    width: 100%;
    height:  60%;
    margin-top: 16px;
  }
  .quemado{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .datos{
    width: 760px;
    margin-top: 100px;
    display: block;
  }
  .fross{
    width: 50%;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño según tus necesidades */
    margin: auto;
  }
  h6{
    display: flex;
    align-items: center;
    font-weight: bold; /* Fuente en negrita */
    font-size: 16px;
    margin-top: -60px;
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    justify-content: center;
  }
  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .carousel-item {
    flex: 0 0 auto; /* Esto asegura que cada ítem tenga un ancho fijo */
    width: 33.33%; /* Ajusta este valor según el número de ítems que quieras mostrar */
    box-sizing: border-box;
    padding: 5 20px; /* Añade espacio interno para separar las tarjetas */
  }

  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
  }

  .card img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-top: 0;
  }
  .btn__ver__info{
    width: 120px;
    font-size: 10px;
    background-color: #CCC4FF;
    color: black;
    border: none;
  }
  .btn__ver__info:hover{
    background-color: rgba(204, 196, 255, 0.38);
    border: none;
  }
 
@media (max-width: 300px){
  
  
}
  @media (max-width: 480px) {
    .padre{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

    }
    
    .parteuno{
      width: 100%;
    }
    .partedos {
      margin-top: 80px;
       width: 100%; 
  }
  .partedos section {
    margin-top: 15px;
}
    .carousel-container {
      margin-bottom: 30px;
    }
    .contenedor-imagen {
      width: 75%;
      height: 400px;

    }
    .contenedor-imagen img {
      width: 90%;
      height: 90%;
    }
    
    .center {
      margin-left: 0;
  }

  .cantidad{
    display: flex;
  }
  .center h1{
    margin-top: -65px;
    width: 90%;
    margin-left: 25px;
    font-size: 20px;
    margin-top: -70px;
  }
  .breadcrumb {
    margin-left: 50px;
}
h3 {
  margin-top: 70px;
 margin-left: 40px;
}
.botones{
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0;
  font-size: 20px;
  margin-top: 0;
}
.botones-adicionales{
width: 100%;
}
.botones-carro{
  display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
}
.agregarAlCarrito {
  width: 150px;
  font-size: 12px;
  margin-right: 0px;
  margin-left: 0;
}
.btn-cantidad2{
  width: 0;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cantidad1{
  width: 0;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 35px;
    height: 40px;
}
.quemado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.botones-adicionales h3{
display: flex;
justify-content: center;
width: 100%;
margin-left: 0;
margin-right: 0;
}
.cantidad {
  padding-bottom: 20px;
  font-size: 16px;

 
}
.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.tab-content {
  width: 350px;
  height: 100px;
  margin-bottom: 120px;
}
h6 {

  width: 50%;
  height: 40px;
}
.datos{

  display: none;
}
.tab-content{
  width: 100%;
}
.fross{
  width: 100%;
}
p{
  width: 100%;
}
.tabs button {
  width: 50%;
}

  }
  @media (min-width: 481px) and (max-width: 768px) {
    .padre{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

    }
    
    .parteuno{
      width: 100%;
    }
    .partedos {
      margin-top: 80px;
       width: 100%; 
  }
    
  .partedos section {
    margin-top: 15px;
}
    .carousel-container {
      margin-bottom: 30px;
    }
    .contenedor-imagen {
      width: 75%;
      height: auto;

    }

    .center {
      margin-left: 0;
  }
  .center h1{
    margin-top: -65px;
    width: 90%;
    margin-left: 25px;
    font-size: 20px;
    margin-top: -70px;
  }

  .botones{
    display: flex;
    justify-content: center;
  }
  h1 {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0;
    font-size: 20px;
  }
  .botones-adicionales{
  width: 100%;
  }

    .botones-adicionales h3{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      }
      .botones-carro{
        display: flex;
        justify-content: center;
      }
      .agregarAlCarrito {
        width: 150px;
        font-size: 12px;
        margin-right: 40px;
        margin-left: 0;
      }

.quemado {
  display: flex;
 flex-direction: column;
  margin-bottom: 20px;
}

.tabs {
padding-left: 0;
}

.contenedor-imagen img {
  width: 100%;
  height: 90%;
}
.fross{
  width: 100%;
}
.datos{
  width: 100%;
}
.madre[_ngcontent-ng-c1441835545] {
  width: 100%;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-left: 20px;
}
.carousel-container img {
  width: 100px;
  height: 100px;
}

.card{
  width: 130px;
  height: 270px;
}
.card h3{
  width: 135px;
height: 50px;
}
.btn__ver__info{
  width: 100px;
  font-size: 8px;
}
section h3 {
  text-align: center;
  width: 100%;
  margin-right: 0;
  margin-left: 0;}
  }
  @media (min-width: 769px) and (max-width: 920px) {

    .padre{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

    }
    .parteuno {
      width: 100%;
  }
  .partedos {
    margin-top: 80px;
   width: 100%;
}
    .contenedor-imagen {
      width: 400px;
      height: auto;
      display: flex;
      justify-content: center;
  }
    .contenedor-imagen img{
      width: 90%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .center h1 {
      margin-top: -65px;
      width: 90%;
  }
  .contenedor-imagen img {
    width: 100%;
    height: 415px;
  }
  .fross{
    width: 100%;
  }
  .datos{
    width: 100%;
  }
  .madre[_ngcontent-ng-c1441835545] {
    width: 100%;
  }
  .quemado {
    display: flex;
   flex-direction: column;
    margin-bottom: 20px;
  }
  .botones-adicionales {
    margin-right:0 ;
    width: 100%;
}

.botones-adicionales h3{
  display: flex;
  justify-content: center;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 110px;
}
.partedos section {
  margin-top: -20px;
}
h1 {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-top: 20px;
}

  .tabs {
  padding-left: 0;
  }
  .botones {
    display: flex;
    margin-left: 0px;
    justify-content: center;
}
section h3 {
 text-align: center;
 width: 100%;
 margin-right: 0;
 margin-left: 0;

}
.card{
  width: 200px;
  padding-left: 10px;
}
.carousel-container {
  padding-left: 40px;
}
.card h3{
  margin-top: 0;
}

.data__categoria{
  font-weight: bolder;
  margin-left: 15%;
}



  }
  @media (min-width: 921px) and (max-width: 1279px) {
    .contenedor-imagen img {
      width: 100%;
      height: 415px;
    }
    
    .fross{
      width: 50%;
    }
    .datos{
      width: 50%;
    }
    .madre[_ngcontent-ng-c1441835545] {
      width: 100%;
    }
    .carousel-container {
      width: 100%;
      margin-bottom: 30px;
  }
  .parteuno{
    width: 50%;
  }
  .partedos{
    margin-top: 75px;
  }
  .partedos section {
    margin-top: 50px;
    width:460px;

}
h1{
  margin-left: 0;
  margin-right: 0;
}
.botones-adicionales {
  margin-left: 0;
  margin-right: 0;
}
.botones-adicionales h3{
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}
  .partedos{

   width: 50%;
    display: flex;
    justify-content: unset;
  }
  h6[_ngcontent-ng-c1441835545] {

    width: 100%;

}
.card{
  width: 145px;
  margin-left: 5px;

}
.center h1{
  width: 49%;
  margin-left: 0;
}
.cantidad[_ngcontent-ng-c2109808955] {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
  }
