<div class="abuelo">
<div class="padre">
  <div class="parteuno">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/tienda">Tienda</a></li>
        <li class="current-page"><a href="#">Producto</a></li>
      </ul>
    </nav>
    <div class="contenedor-imagen" 
         (mouseenter)="activarZoom()" 
         (mouseleave)="desactivarZoom()" 
         (mousemove)="moverImagen($event)">
      <img src="../../../../../assets/images/chunky.jpg" 
           alt="Imagen para Zoom" 
           [ngStyle]="{
             'transform': zoomActivo ? 'scale(1.2) translate(' + posX + '%, ' + posY + '%)' : 'scale(1) translate(0, 0)'
           }">
    </div>
  </div>

  <div class="partedos">
    <div class="center">
      <h1>
        Alimento Para Perro Chunky Adulto Razas Pequeñas - {{ textoKilogramos }}
      </h1>
    </div>
    <section>
    
      <h3>Seleccione Presentación/Talla/Tamaño:</h3>
      <div class="botones">
        <button
          *ngFor="let kg of kilogramos"
          (click)="seleccionarKilogramos(kg)"
          [ngClass]="{'selected': kg === kilogramaSeleccionado}"
        >
          {{ kg }} kg
        </button>
      </div>
      <h1>{{ textoPrecio }} COP</h1>
      
      <!-- Nuevos botones -->
      <div class="botones-adicionales">
        <h3>Seleccione Cantidad:</h3>
        <div class="botones-carro">
          <div class="cantidad">
            <button class="btn-cantidad1" (click)="cambiarCantidad(-1)">-</button>
            <input type="text" id="cantidad" [value]="cantidad" readonly />
            <button class="btn-cantidad2" (click)="cambiarCantidad(1)">+</button>
          </div>
          <button class="agregarAlCarrito">Agregar al carrito</button>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="madre">
  <div class="quemado">
    <div class="fross">
      <div class="tabs">
        <button [ngClass]="{'active': selectedTab === 'info'}" (click)="selectTab('info')">Descripción</button>
        <button [ngClass]="{'active': selectedTab === 'description'}" (click)="selectTab('description')">Información</button>
        
      </div>
      <div class="tab-content">
        <div *ngIf="selectedTab === 'info'">
          <h2>Descripción</h2>
          <p>
            Chunky es el alimento ideal para perros adultos de razas pequeñas, formulado cuidadosamente para satisfacer todas las necesidades nutricionales de tu mascota.
          </p>
          <a href="/tienda">Ver más productos de la tienda</a>
        </div>
        <div *ngIf="selectedTab === 'description'" class="descripcion-contenedor">
          <h2>Información</h2>
          <p>
            Alimento Chunky para Cachorros está formulado especialmente para satisfacer las necesidades nutricionales de los cachorros en crecimiento. Proporciona una dieta equilibrada y completa que apoya un desarrollo saludable y un crecimiento óptimo.
          </p>
        </div>
      </div>
    </div>
    <div class="datos">
      <h6>Productos similares</h6>
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of items">
            <div class="card">
              <div class="logo">
              </div>
              <div class="imagen-principal">
                <img [src]="item.imagen" alt="{{ item.nombre }}">
              </div>
              <div class="info-producto">
                <h3>{{ item.nombre }}</h3>
                <p>{{ item.precio | currency:'COP':'symbol':'1.0-0' }}</p>
                <p>Categoría: {{ item.categoria }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>