.padre{
  display: flex;
  justify-content: space-evenly;
}
.contenedor-imagen {
  width: 400px;
  height: 500px;
  overflow: hidden;
  border: 2px solid #ddd;
  margin: 0 auto;
  position: relative;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: center;
}

.contenedor-imagen:hover {
  cursor: zoom-in;
}
.breadcrumb-container {
  font-family: Arial, sans-serif;
  font-size: 11px;
  }
  
  .breadcrumb {
  list-style: none;
  display: flex;
   padding: 0;
   margin: 0;
   justify-content: center;
   margin: 20px;
  }
  
  .breadcrumb li {
   position: relative;
   margin-right: 10px; /* Espacio entre los elementos */
  }
  
  .breadcrumb li:not(:last-child)::after {
   content: '|'; /* Separador vertical */
   position: absolute;
   right: -10px; /* Ajusta la posición según el espacio entre los elementos */
   top: 0;
   color: #607178; /* Color del separador */
   margin-left: 10px;
   margin-right: 15px;
  }
  
  .breadcrumb a {
  text-decoration: none;
   color: #607178; /* Color de los enlaces */
   margin-right: 20px;
  }
  
  
  .breadcrumb a:hover {
   text-decoration: underline;
  }
  
  /* Estilo para el breadcrumb de la página actual */
  .breadcrumb .current-page a {
   color: #CCC4FF; /* Color del breadcrumb actual */
   font-weight: bold; /* Opcional: hacer el texto negrita */
  }
  .center{
    margin-top: 20px;
    
  }
  .center h1{
      margin-top: 0;
      margin-left: 15px;
      text-align: left;
      font-weight: 700; 
  }
 
.partedos section {
  margin-top: 50px;
}
.partedos{
  margin-top: 65px;
}
.botones {
  display: flex;
  gap: 10px;
  margin-left: 15px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D9D9D9;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #CCC4FF;
  color: rgb(0, 0, 0);
  
}

h1 {
  margin-top: 20px;
  color: #333;
  text-align: left;
  margin-left: 25px;
  margin-top: 50px;
  font-weight: 700;
}
 h3 {
  font: 400 16px / 28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 16px;
  width: 300px;
  margin-left: 15px;
}
.botones-adicionales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
}

.botones-adicionales h3{
  
  margin-right: 100px;
}
.botones button {
  background-color: #f0f0f0; // Color predeterminado
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.botones button.selected {
  background-color: #CCC4FF; // Color cuando está seleccionado
  color: black;
}


.agregarAlCarrito {
  width: 185px;
  padding: 10px 20px;
  margin-right: 40px;
  background-color: #CCC4FF;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.agregarAlCarrito:hover {
  background-color: rgba(204, 196, 255, 0.38);
}

.cantidad {
  display: flex;
  align-items: center;

    margin-top: -10px;
  
}

.btn-cantidad1 {
  
  padding: 10px 20px;
  background-color: #CCC4FF;
  color: black;
  border-radius: 10px 0 0 10px; 
  cursor: pointer;
  font-size: 16px;

}
.btn-cantidad2 {
  padding: 10px 20px;
  background-color: #CCC4FF;
  color: black;
  border-radius: 0 10px 10px 0px ; 
  cursor: pointer;
  font-size: 16px;
  margin-right: 30px;
  
}



input[type="text"] {
  width: 45px;
    height: 44px;
  text-align: center;
  font-size: 16px;
 border: none;
}
.botones-carro{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 25px;
}
//info

.tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  background-color: #E8E8E8;
  padding-left:80px;

  button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0; /* Elimina el margen entre los botones */
  }

  button.active {
    background-color: #CCC4FF;
    color: black;
  }

  button:not(.active):hover {
    background-color: rgba(204, 196, 255, 0.38);
  }
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border: none; /* Elimina el borde superior */
  margin-top: -1px; /* Elimina el espacio entre las pestañas y el contenido */
  background-color: #fff; /* Fondo blanco para el contenido */
 
  width: 80%;
}

  
  h2 {
    margin-top: 0;
  }

//link
/* Estilo para los enlaces */
a {
  color: #CCC4FF; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.3s, background-color 0.3s; /* Transición suave para el color y el fondo */
  font-weight: bold; /* Fuente en negrita */
}

/* Estilo para los enlaces al pasar el ratón (hover) */
a:hover {
  color: rgba(204, 196, 255, 0.38); /* Color del enlace al pasar el ratón */
  text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}

/* Estilo para los enlaces cuando están activos */
a:active {
  color: #CCC4FF; /* Color del enlace cuando se hace clic */
}

/* Estilo para los enlaces visitados */
a:visited {
  color: #CCC4FF; /* Color del enlace ya visitado */
}


.madre{
  display: flex;
}
//crad

.card {
  width: 180px; 
  height: 230px; 
 font-size: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3{
  font-size: 12px;
  margin-top: -50px;
}


  .logo img {
    width: 50px;
    height: auto;
  }

  .imagen-principal img {
    width: 100%;
    height:  60%;
    margin-top: 16px;
  }
  .quemado{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .datos{
    width: 760px;
    margin-top: 100px;
  }
  .fross{
    width: 50%;
  }
  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño según tus necesidades */
    margin: auto;
  }
  h6{
    display: flex;
    align-items: center;
    font-weight: bold; /* Fuente en negrita */
    font-size: 16px;
    margin-top: -60px;
    width: 100%;
    height: 40px;
    background-color: #E8E8E8;
    justify-content: center;
  }
  .carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .carousel-item {
    flex: 0 0 auto; /* Esto asegura que cada ítem tenga un ancho fijo */
    width: 33.33%; /* Ajusta este valor según el número de ítems que quieras mostrar */
    box-sizing: border-box;
    padding: 5 20px; /* Añade espacio interno para separar las tarjetas */
  }
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 0;
  }
  