<div class="abuelo">
<div class="padre">
  <div class="parteuno">
    <nav aria-label="breadcrumb" class="breadcrumb-container">
      <ul class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li><a href="/tienda">Tienda</a></li>
        <li class="current-page"><a href="#">Producto</a></li>
      </ul>
    </nav>
    <div class="contenedor-imagen"
         (mouseenter)="activarZoom()"
         (mouseleave)="desactivarZoom()"
         (mousemove)="moverImagen($event)">
      <img src="{{ data[0].imagen }}"
           alt="Imagen para Zoom"
           [ngStyle]="{
             'transform': zoomActivo ? 'scale(1.2) translate(' + posX + '%, ' + posY + '%)' : 'scale(1) translate(0, 0)'
           }">
    </div>
  </div>

  <div class="partedos">
    <div class="center">
      <h1>Producto: {{data[0].nombreProducto}}</h1>
     </div>
    <section>
      <div >
        <h2 class="data__categoria">Categoria: {{data[0].categoria}}</h2>
        <h3 class="data__peso">Cont Net: {{data[0].seleccionTallaPresentacion}}</h3>
      </div>


      <!----

            <div class="botones">
        <button
          *ngFor="let kg of kilogramos"
          (click)="seleccionarKilogramos(kg)"
          [ngClass]="{'selected': kg === kilogramaSeleccionado}"
        >
          {{ kg }} kg
        </button>
      </div>

      -->
      <h1>Stock Disponible: {{ data[0].stock}}</h1>
      <h1>Precio Producto: {{ data[0].precio | currency:'COP':'symbol':'1.0-0' }} </h1>

      <!-- Nuevos botones -->
      <div class="botones-adicionales">
        <h3>Seleccione Cantidad:</h3>
        <div class="botones-carro">
          <div class="cantidad">
            <button class="btn-cantidad1" (click)="removeProduct()">-</button>
            <input type="text" id="cantidad" [value]="cantidad" readonly />
            <button class="btn-cantidad2" (click)="addProduct()">+</button>
          </div>

          <button type="button" (click)="addProductCart()"  class="agregarAlCarrito">Agregar al carrito</button>
        </div>
      </div>
      <div *ngIf="soldOut"  class="product-soldOut">
        <b class="product-soldOut" >Producto Agotado</b>
      </div>
    </section>
  </div>
</div>

<div class="madre">
  <div class="quemado">
    <div class="fross">
      <div class="tabs">
        <button [ngClass]="{'active': selectedTab === 'info'}" (click)="selectTab('info')">Descripción</button>
        <button [ngClass]="{'active': selectedTab === 'description'}" (click)="selectTab('description')">Información</button>

      </div>
      <div class="tab-content">
        <div *ngIf="selectedTab === 'info'">
          <h2>Descripción</h2>
          <p>
            {{ data[0].descripcion}}
          </p>
          <a href="/tienda">Ver más productos de la tienda</a>
        </div>
        <div *ngIf="selectedTab === 'description'" class="descripcion-contenedor">
          <h2>Información</h2>
          <p>
            {{ data[0].informacion}}
          </p>
        </div>
      </div>
    </div>
    <div class="datos">
      <h6>Productos similares</h6>
      <div class="carousel-container">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of allData">
            <div class="card">
              <div class="logo">
              </div>
              <div class="imagen-principal">
                <img [src]="item.imagen" alt="{{ item.nombreProducto }}">
              </div>
              <div class="info-producto">
                <h3>{{ item.nombreProducto }}</h3>
                <p>{{ item.precio | currency:'COP':'symbol':'1.0-0' }}</p>
                <p>Categoría: {{ item.categoria }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
