.profil{
    display: flex;
    justify-content: center

}
.perfil{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-left: 40px;
    margin-right: 20px;
    cursor: pointer;
}
.titulo{
    font-size: 25px;
    margin-top: 15px;
    font-family: 'Courier New';
    cursor: pointer;
}