.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-image: url(../../../../../assets/images/imgcitas/fondo2.png);
    background-repeat: no-repeat;
    background-size: 100% 130px;
    padding: 0 32px;
    position: relative; 
  }
  
  .profil {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; 
  }
  
  .perfil {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-left: 40px;
    margin-right: 24px;
  }
  
  .titulo {
    font-size: 25px;
    margin-top: 16px;
    cursor: pointer;
  }
  