.profil {
  display: flex;
  cursor: pointer;
  padding: 0 16px;
  align-items: center;
  border-radius: 15px;
  border: 3px solid rgb(85, 84, 84);
  height: 60px;
}

.user {
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.user h3, h5 {
  margin: 0;
  padding: 0;
}

.perfil {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.titulo {
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .profil {
    height: 60px;
    padding: 0px 5px;
  }
  .user {
    height: 40px;
    padding: 0 8px;
  }
  .user h3 {
    font-size: 11px;
    height: 15px;
    height: 20px;
    
  }
  .user h5{
    font-size: 10px;
  }
}
/* Responsivo */
@media (max-width: 768px) {
  .profil {
    height: 60px;
    padding: 0px 5px;
  }
  .user {
    height: 35px;
  }

 

  .user h5{
    font-size: 10px;
  }
  .perfil {
    width: 30px;
    height: 30px;
}
.user h3 {
  font-size: 11px;
}

  .titulo {
    font-size: 16px;
  }

}


@media (max-width: 480px) {
  .profil {
    height: 40px;
    border-radius: 8px;
    margin-right: -5px;
    margin-bottom: 5px;
}

  .user {
    height: 35px;
  }

 

  .user h5{
    font-size: 8px;
  }
  .perfil {
    width: 21px;
    height: 21px;
}
.user h3 {
  font-size: 9px;

}
}