<!-- header.component.html -->
<div class="header-container">
    <div class="search-container">
        <input [(ngModel)]="searchTerm" (input)="onSearch()"  type="text" placeholder="Buscar..." class="search-input">
        <span class="search-icon">
          <img src="../../../../../assets/icons/buscar.png" alt=""></span>
    </div>


  <div class="search-container-responsive">
    <input [(ngModel)]="searchTerm" (input)="onSearch()" type="text" placeholder="Buscar..." class="search-input">
    <span class="search-icon">
      <img src="../../../../../assets/icons/buscar.png" alt=""></span>
  </div>

    <div class="campana-container">
      <div class="notification-badge" *ngIf="notificationCount > 0">
        {{ notificationCount }}
      </div>
      <div class="campana" (click)="navigateToNotifications()">
        <img src="../../../../../assets/icons/campanaperro.png" alt="Campana de notificaciones">
      </div>
    </div>
  </div>
