
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-image:url(../../../../../assets/images/fondo2.png);
  background-repeat: no-repeat;
  background-size: 100% 130px;
  padding: 0 30px;
  margin: 0;
};

.titles{
    width: 300px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


