
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #CCC4FF;
  padding: 0 40px
};


app-logo{
  width: 200px;
}

app-perfil{
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

app-logo{
  display: flex;
  justify-content: left;
}

.titles{
    width: 200px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hola { 
  border-right: 1.5px solid black ;
}

.a{
  border-left: 1.5px solid black;
}
