<div class="header">
    <div class="logo">
        <app-logo></app-logo>
        <h1>Clinic-Pets</h1>
    </div>

    <app-perfil></app-perfil>
</div>
<div class="titles">
    <app-home class="hola"></app-home>
    <app-titulo  [ruta]="'/citas'" [title]="'Citas'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/adopcion'" [title]="'Adopciones'" class="a" [estilo]="'color:black ;'"></app-titulo>
    <app-titulo  [ruta]="'/tienda'" [title]="'Tienda'" class="aa" [estilo]="'color:black'"></app-titulo>
</div>
