
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-image:url(../../../../../assets/images/imgcitas/fondo2.png);
  background-repeat: no-repeat;
  background-size: 100% 130px;
  padding: 0 40px;
};

.titles{
    width: 300px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.hola{
  border-right: 3px solid black ;
}


.a{
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.a:hover{
  color :#3a364e;
}
