<div class="inventario">
  <div class="tabla">
    <div class="fila encabezado">
      <div class="celda">Imagen</div>
      <div class="celda">Nombre</div>
      <div class="celda">Categoría</div>
      <div class="celda">Precio</div>
      <div class="celda">Cantidad</div>
      <div class="celda">Acciones</div>
    </div>

    <div class="fila" *ngFor="let producto of productos">
      <div class="celda imagen">
        <ng-container *ngIf="producto === productoEditado; else mostrarImagen">
          <input type="file" #fileInput (change)="onImageChange($event)" style="display: none;" accept="image/*" />
          <img [src]="producto.imagen" alt="{{ producto.nombreProducto }}" (click)="triggerFileInputClick()" />
          <div *ngIf="cargandoImagen">Cargando imagen...</div>
        </ng-container>
        <ng-template #mostrarImagen>
          <img [src]="producto.imagen" alt="{{ producto.nombreProducto }}" />
        </ng-template>
      </div>
      <div class="celda">
        <ng-container *ngIf="producto === productoEditado; else mostrarNombre">
          <input [(ngModel)]="productoEditado.nombreProducto" name="nombreProducto" />
        </ng-container>
        <ng-template #mostrarNombre>{{ producto.nombreProducto }}</ng-template>
      </div>
      <div class="celda">
        <ng-container *ngIf="producto === productoEditado; else mostrarCategoria">
          <input [(ngModel)]="productoEditado.categoria" name="categoria" />
        </ng-container>
        <ng-template #mostrarCategoria>{{ producto.categoria }}</ng-template>
      </div>
      <div class="celda">
        <ng-container *ngIf="producto === productoEditado; else mostrarPrecio">
          <input [(ngModel)]="productoEditado.precio" name="precio" type="number" step="0.01" />
        </ng-container>
        <ng-template #mostrarPrecio>{{ producto.precio | currency:'COP':'symbol':'1.0-0' }}</ng-template>
      </div>
      <div class="celda">
        <ng-container *ngIf="producto === productoEditado; else mostrarStock">
          <input [(ngModel)]="productoEditado.stock" name="stock" type="number" />
        </ng-container>
        <ng-template #mostrarStock>{{ producto.stock }}</ng-template>
      </div>
      <div class="celda">
        <button *ngIf="producto !== productoEditado" class="btn-editar" (click)="redirectToEditProduct(producto.IdProducto)">Editar</button>
        <button *ngIf="producto === productoEditado" class="btn-guardar" (click)="guardarCambios()">Guardar</button>
        <button *ngIf="producto === productoEditado" class="btn-cancelar" (click)="cancelarEdicion()">Cancelar</button>
        <button class="btn-eliminar" (click)="eliminarProducto(producto)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
