<div class="background">
<div class="modal">
    <div class="header">
      <img class="logo" src="../../../../../assets/images/logo.png" alt="" routerLink="">
       <h2>Informacion</h2>
        <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="" (click)="closemodaladopcion()">
    </div>
    <div class="img">
      <img [src]="datos.imagenMascota" [alt]="datos.nombreMascota">
    </div>
    <div class="informacion">
    <p>Nombre: {{datos.nombreMascota}}</p>
    <p>Edad: {{datos.edadMascota}} años</p>
    <p>Sexo: {{datos.sexo}}</p>
    <p>Raza: {{datos.especieMascota}}</p>
    <p>Vacunado: {{datos.estadoVacunacionMascota}}</p>
    <p>Esterelizado: {{datos.esterilizacionMascota}}</p>
  </div>
    </div>
  </div>
