<div class="background">
<div class="modal">
    <div class="header">
      <img class="logo" src="../../../../../assets/images/logo.png" alt="" routerLink="">
       <h2>Informacion</h2>
        <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="" (click)="closemodaladopcion()">
    </div>
    <div class="img">
      <img src="../../../../../assets/images/imghome/coco 2.png" alt="">
    </div> 
    <div class="informacion">
    <p>Nombre: COCO</p>
    <p>Edad: 6 años</p>
    <p>Sexo: Macho</p>
    <p>Raza:</p>
    <p>Vacunado: si</p>
    <p>Esterelizado: si</p>
  </div>
    </div>
  </div>