/* Estilos generales para el formulario */
.padre{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 65px;
    background-color: rgba(191, 224, 255, 0.19);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
  
  /* Contenedor para los inputs */
  .container-input {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Estilos para el input de archivo */
  #file-6 {
    display: none; /* Ocultamos el input real */
  }
  
  /* Estilos para el label del input de archivo */
  .fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; /* Ajusta la altura deseada */
    border: 2px dashed #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  
  /* Estilos para la vista previa de la imagen */
  .image-preview {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
  }
  
  /* Estilos para la imagen cuando no hay imagen seleccionada */
  .image-preview img {
    width: 50px;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  }
  .image-preview:hover {
    border-color: #666;
  }
  
  
  /* Estilos para el texto cuando no hay imagen */
    .image-preview p {
      font-size: 16px;
      color: #666;
      text-align: center;
    }
  
  
  /* Estilos para los inputs personalizados */
  app-input {
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Espacio entre inputs */
  }
  
  /* Estilos para los inputs en general */
 
  .peppa{
    margin-top: 50px;
  }
  
  /* Estilos para los botones */
  .botones {
    display: flex;
    justify-content: space-evenly;
    width: 100%; /* Asegura que los botones ocupen el ancho completo */
    max-width: 400px; /* Limita el ancho máximo de los botones */
    margin-top: 20px;
    
  }
  
  button {
      width: 40%;
      padding: 10px;
      background-color: rgba(87, 250, 60, 0.5);
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    
  }
  
  
    .cancelar {
      width: 40%;
      padding: 10px;
      background-color: rgba(250, 60, 60, 0.47);
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  
  
    button {
      width: 40%;
      padding: 10px;
      background-color: rgba(87, 250, 60, 0.5);
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
    button:disabled {
        background-color: rgba(87, 250, 60, 0.8);
        cursor: not-allowed;
    }
  /* Estilos para el mensaje de error */
  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-top: 5px;
  }
  @media(max-width: 650px){
    
form {
  padding: 30px;
  width: 90%;

}
  }
  @media(max-width: 480px){
    .padre{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    form {
      padding: 20px;
    
    }
    
      }