div{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    background:#7638FE;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}



@media (max-width:352px) {
   div{
    width: 120px;}

    button{
        padding: 8px 16px;
        border-radius: 10px;
        
    }
}