<div class="principal">
    <div class="card" *ngFor="let producto of filteredData">
        <div class="logo">
          <!-- <img [src]="producto.logo" alt="Logo"> -->
        </div>
        <div class="imagen-principal">
          <img [src]="producto.imagen" alt="{{ producto.nombreProducto }}">
        </div>
        <div class="info-producto">
          <p hidden >Id: {{producto.IdProducto}}</p>
          <h3>{{ producto.nombreProducto  }}</h3>
          <p>{{ producto.precio | currency:'COP':'symbol':'1.0-0' }}</p>
          <p>Categoría: {{ producto.categoria }}</p>
          <div class="botones">
            <button  (click)="redirectToEditProduct(producto.IdProducto)"    class="btn-editar" >    <img src="../../../../../assets/images/imghome/editar1.png" alt=""></button>
            <button type="button" (click)="onProductDelete(producto.IdProducto)" class="btn-eliminar"><img src="../../../../../assets/images/imghome/eliminar.png" alt=""></button>
          </div>
        </div>
      </div>

    </div>
    <section *ngIf="filteredData.length === 0 " class="emptyState">
      <div class="estado-vacio">
          <h1>No hay resultados que coincidan con tu búsqueda.</h1>
          <img src="../../../../../assets/icons/muelin (1) (1).gif" alt="">
          <p>Revisa la ortografía de la palabra.</p>
          <p>Utiliza palabras más genéricas o menos palabras.</p>
      </div>
  </section>


