.principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  
  }
  
  
  .card {
    width: 270px; /* Ajusta el ancho según sea necesario */
    height: 420px; /* Ajusta la altura según sea necesario */
    margin: 16px; /* Espacio entre tarjetas */
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
    
    .logo img {
      width: 50px;
      height: auto;
    }
    
    .imagen-principal img {
      width: 100%;
      height:  60%;
      margin-top: 16px;
    }
    
  
    .info-producto h3 {
      font-size: 20px;
      font-weight: 700;
      margin: 8px 0;
    }
    
    .info-producto p {
      margin: 4px 0;
    }

    .botones {
        display: flex;
        justify-content: flex-start; /* Alinea los botones al inicio */
        gap: 8px; /* Añade espacio entre los botones */
        margin-top: 10px;
      
        button {
          padding: 5px 10px;
          font-size: 14px;
          cursor: pointer;
          border: none;
          border-radius: 4px;
      
          &.btn-editar {
            background-color: #A5D9FF; /* Verde */
            color: black;
          }
      
          &.btn-eliminar {
            background-color: #CCC4FF; 
            color: black;
          }
      
          &:hover {
            opacity: 0.8;
          }
        }
      }
      