@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco&display=swap');

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #CCC4FF;
  padding: 0 30px;
  border-bottom: 3px solid white;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  font-family: "Playwrite ES Deco", cursive;
}

h2{
    text-align: center;
}
.logo {
  display: flex;
  align-items: center;
}

.titles {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ded8ff;
  padding: 0 50px;
  box-shadow: 10px 0 20px #CCC4FF ;
}

.titles a {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.hola, .a, .aa {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}




@media (max-width: 768px) {
  .header {
    padding: 0 15px;
  }


  .hola, .a, .aa {
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 60px;
    padding: 0 10px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .hola, .a, .aa {
    font-size: 12px;
  }
}





.vacio{
  width: 60%;
  border: 4px solid #CCC4FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 10px #CCC4FF;
  padding: 20px;
}

.vacio img{
  width: 200px;
  height: 200px;
}

.vacio h1{
  font-size: 25px;
}




.container-cards {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    /* Si hay solo una carta, alinearla al inicio */
    &.una-carta {
      justify-content: flex-start;
    }
  }


h2{
  margin: 0 0 0 0;
  padding: 8px;
}

img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 15px; /* Border-radius en la esquina superior izquierda */
  border-top-right-radius: 15px;
}

.informacion{
  width: 100%;
  padding: 0px 32px;
  margin-top: 8px;
}

strong{
  font-weight: 600px;
}

.contacto{
  border-top: 2px solid #E9E1FE;
  width: 100%;
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: space-evenly;
}

.info1 img,
.info2 img{
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.info1 h5{
  margin: 0 0 0 0;
  padding: 0 10px;
}
.info2 h5{
  margin: 0 0 0 0;
  padding: 0 10px;
}

.info1{
  border-right: 1px solid #E9E1FE;
  height: 100%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.info2{
  width: 50%;
  height: 100%;
  display: flex;
  border-left: 1px solid #E9E1FE ;
  justify-content: center;
  align-items: center;

}


@media  (max-width:352px) {
  .card{
      width: 100%;
  }

  img{
      width: 100%;
      height: 250px;
      border-top-left-radius: 15px; /* Border-radius en la esquina superior izquierda */
      border-top-right-radius: 15px;
  }
}


section {
    margin-top: 60px;
}

.background {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px;
}

.container-cards {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

// Estilos de filtro
.filtro {
    width: 15%;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.cartas {
    width: 20%;
    margin-left: 1%;
    border: 2px solid #E9E1FE;
    border-radius: 15px;
    height: 342px;
    box-shadow: 10px 10px 20px #E9E1FE;
}

h3 {
    margin: 0;
    cursor: pointer;
}

.filtro_nombre {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.title-nombre {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
}

.title-nombre img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.contenedor-filtro {
    width: 90%;
    border-bottom: 2px solid #B5EBF6;
    padding: 8px 0;
    margin-top: 16px;
}

.contain {
    margin-top: 8px;
}

label {
    margin-left: 8px;
}

.borrar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}

h2 {
    margin: 0;
    align-items: center;
}

.borrar img {
    width: 20px;
    height: 20px;
}

.emptyState {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.estado-vacio {
    width: 900px;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.estado-vacio img {
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}


@media (max-width: 352px) {
    .background {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-cards {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 26px;
    }

    .filtro {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
    }

    .cartas {
        width: 100%;
        margin-left: 0;
        margin-bottom: 4px; /* Espacio muy reducido entre cartas */
    }

    h2, h3, label, .borrar, .title-nombre, .contain {
        font-size: 14px; /* Ajusta el tamaño según sea necesario */
    }

    .borrar img, .title-nombre img {
        width: 15px;
        height: 15px;
    }
}


@media (max-width: 480px) {
    .background {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-cards {
        width: 85%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .filtro {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
    }

    .cartas {
        width: 100%;
        margin-left: 0;
        margin-bottom: -55px;
    }

    h2, h3, label, .borrar, .title-nombre, .contain {
        font-size: 16px;
    }

    .borrar img, .title-nombre img {
        width: 18px;
        height: 18px;
    }
}

/*
@media  (max-width: 768px) {
    .filtro {
        width: 20%; /* Reducir el ancho del filtro para pantallas más pequeñas
    }

    .cartas {
        width: 30%;
        margin-bottom: -55px;
    }

    .container-cards {
        gap: 10px;
        justify-content: flex-start;
    }

    .filtro_nombre, .title-nombre, .contenedor-filtro, .borrar, .emptyState {
        width: 80%;
    }

    .estado-vacio {
        width: 100%;
    }
}


@media(max-width: 920px) {

    .filtro {
        width: 20%;
    }

    .cartas {
        width: 30%;
        margin-bottom: -55px;
    }

    .container-cards {
        gap: 10px;
        justify-content: flex-start;
    }

    .filtro_nombre, .title-nombre, .contenedor-filtro, .borrar, .emptyState {
        width: 80%;
    }

    .estado-vacio {
        width: 100%;
    }
}
*/
