<div class="container">
  <h2>Horarios para {{ selectedDateFormatted }}</h2>
  <button *ngIf="showDeactivateButton" (click)="toggleDisableDay()">
    {{ isDayDisabled ? 'Activar día' : 'Desactivar día' }}
  </button>
  <ul>
    <li 
      *ngFor="let horario of horarios" 
      [ngClass]="{'occupied': isHorarioOccupied(horario), 'disabled': isHorarioDisabled(horario), 'selected': horario === selectedHorario}"
      (click)="!isHorarioOccupied(horario) && !isHorarioDisabled(horario) && selectHorario(horario)"
      [ngStyle]="{'pointer-events': isHorarioOccupied(horario) || isHorarioDisabled(horario) ? 'none' : 'auto'}">
      {{ horario }}
    </li>
  </ul>
</div>
