:host {
  display: block;
  width: 300px;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items: center;
  padding-right: 36px;
 
}
h2 {
  text-align: center;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  justify-content: center;
  text-align: center;
  width: 300px;
}

li {
  cursor: pointer;
  padding: 8px;
  border: 4px solid #ACA5D6;
  border-radius: 12px;
  margin-bottom: 12px;

  &.selected {
    background-color: #CCC4FF;
    color: white;
  }

  &:hover {
    background-color: #9588e4;
    color: white;
  }

  &.occupied {
    background-color: #ccc;  // Color gris para horarios ocupados
    cursor: not-allowed;    // Cursor de no permitido
    color: #666;            // Color gris oscuro para el texto
  }
}





