<section>
    <div class="marco">
      <div class="padre">
        <img src="../../../../../assets/icons/logopets.png" alt="">
        <div class="madre">
          <app-titulo estilo="color: #607175; font-size: 20px; margin-bottom:10px; " title="Tambovet"></app-titulo>
          <app-titulo estilo="color: #607175; font-size: 20px" title="Clinica Veterinaria"></app-titulo>
        </div>
        <img src="../../../../../assets/icons/logopets.png" alt="">
      </div>
      <div class="campo">
        <div class="p">
          <label for="'Tipo de Cita:'" class="label">Tipos de Cita:</label>
        </div>
        <input id="'Tipo de cita'" text="'text'" class="input"> 
              <div class="p">
                <label for="'Costo:'" class="label">Costo:</label>
        </div>
        <input id="'Costo'" text="'text'" class="input"> 
        <div class="p">
          <label for="'Fecha:'" class="label">Fecha:</label>
        </div>
        <input id="'Fecha'" text="'text'" class="input"> 
        <div class="boton">
          <button (click)="showAlert()">Confirmar pago</button>
        </div>
      </div>
    </div>
  </section>
<app-alertacita *ngIf="isModalOpen" (close)="closeModal()"></app-alertacita>
<app-alertacancelarcita *ngIf="modalcancel" (close)="closeModalcancel()"></app-alertacancelarcita>
  
