<div class="background">

    <div class="modal">
        <div class="header">
            <h2>Editar Perfil</h2>
            <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="" (click)="closemodaledit()">
        </div>
        <form class="formulario_2" [formGroup]="callDataUser" (ngSubmit)="onSubmit()" >

            <app-input [text]="'text'" [holder]="'nombre'" formControlName="nombreUsuario" [id]="'Nombre'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'apellido'" formControlName="apellidoUsuario" [id]="'apellido'" [estilos]="estilos"></app-input>
           <!-- <app-input [text]="'text'" [holder]="'numero de documento'" formControlName="numeroDeDocumento" [id]="'documento'" [estilos]="estilos"></app-input> --> 
            <app-input [text]="'text'" [holder]="'numero de telefono'" formControlName="telefonoUsuario" [id]="'telefono'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'email'" formControlName="correoUsuario" [id]="'email'" [estilos]="estilos"></app-input>
           <!--<app-input [text]="'password'" [holder]="'confirmar contraseña'" formControlName="confirmarContrasenia" [id]="'confirmar'" [estilos]="estilos"></app-input>--> 

                         
           <div class="btn-button-submit">
            <button type="submit" [disabled]="callDataUser.invalid" class="button">Actualizar datos</button>
          </div>
        
              <div  *ngIf="callDataUser.get('nombreUsuario')?.errors && callDataUser.get('nombreUsuario')?.dirty">
              <p *ngIf="callDataUser.get('nombreUsuario')?.hasError('required')">Rellene el campo nombre</p>
              </div>
        
              <div *ngIf="callDataUser.get('apellidoUsuario')?.errors && callDataUser.get('apellidoUsuario')?.dirty">
              <p *ngIf="callDataUser.get('apellidoUsuario')?.hasError('required')">Rellene el campo apellido</p>
              </div>
        
              <!--  
                
               <div *ngIf="callDataUser.get('numeroDeDocumento')?.errors && callDataUser.get('numeroDeDocumento')?.dirty">
                <p *ngIf="callDataUser.get('numeroDeDocumento')?.hasError('required')">Rellene el campo Documento</p>
                <p *ngIf="callDataUser.get('numeroDeDocumento')?.hasError('minlength')">Minimo 10 caracteres en Documento</p>
                <p *ngIf="callDataUser.get('numeroDeDocumento')?.hasError('maxlength')">maximo 10 caracteres en Documento</p>    
              </div>

              -->
             
        
              <div *ngIf="callDataUser.get('telefonoUsuario')?.errors && callDataUser.get('telefonoUsuario')?.dirty">
                <p *ngIf="callDataUser.get('telefonoUsuario')?.hasError('required')">Rellene el campo telefono</p>
                <p *ngIf="callDataUser.get('telefonoUsuario')?.hasError('minlength')">Minimo 10 caracteres en telefono</p>
                <p *ngIf="callDataUser.get('telefonoUsuario')?.hasError('maxlength')">maximo 10 caracteres en telefono</p>    
              </div>
        
              <div *ngIf="callDataUser.get('correoUsuario')?.errors && callDataUser.get('correoUsuario')?.dirty">
                <p *ngIf="callDataUser.get('correoUsuario')?.hasError('required')">Rellene el campo correo</p>
                <p *ngIf="callDataUser.get('correoUsuario')?.hasError('email')">Debe ingresar un correo valido</p>
              </div>

        
        </form> 
    </div>
</div>
  