<div class="background">

    <div class="modal">
        <div class="header">
            <h2>Editar Perfil</h2>
            <img src="../../../../../assets/icons/eliminar (1) 1.png" alt="" (click)="closemodaledit()">
        </div>
        <form class="formulario_2" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

            <app-input [text]="'text'" [holder]="'nombre'" formControlName="nombre" [id]="'Nombre'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'apellido'" formControlName="apellido" [id]="'apellido'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'numero de documento'" formControlName="numeroDeDocumento" [id]="'documento'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'numero de telefono'" formControlName="numeroDeTelefono" [id]="'telefono'" [estilos]="estilos"></app-input>
            <app-input [text]="'text'" [holder]="'email'" formControlName="email" [id]="'email'" [estilos]="estilos"></app-input>
           <!--<app-input [text]="'password'" [holder]="'confirmar contraseña'" formControlName="confirmarContrasenia" [id]="'confirmar'" [estilos]="estilos"></app-input>--> 

                         
           <div class="btn-button-submit">
            <button type="submit" [disabled]="registerForm.invalid" class="button">Actualizar datos</button>
          </div>
        
              <div  *ngIf="registerForm.get('nombre')?.errors && registerForm.get('nombre')?.dirty">
              <p *ngIf="registerForm.get('nombre')?.hasError('required')">Rellene el campo nombre</p>
              </div>
        
              <div *ngIf="registerForm.get('apellido')?.errors && registerForm.get('apellido')?.dirty">
              <p *ngIf="registerForm.get('apellido')?.hasError('required')">Rellene el campo apellido</p>
              </div>
        
              <div *ngIf="registerForm.get('numeroDeDocumento')?.errors && registerForm.get('numeroDeDocumento')?.dirty">
                <p *ngIf="registerForm.get('numeroDeDocumento')?.hasError('required')">Rellene el campo Documento</p>
                <p *ngIf="registerForm.get('numeroDeDocumento')?.hasError('minlength')">Minimo 10 caracteres en Documento</p>
                <p *ngIf="registerForm.get('numeroDeDocumento')?.hasError('maxlength')">maximo 10 caracteres en Documento</p>    
              </div>
        
              <div *ngIf="registerForm.get('numeroDeTelefono')?.errors && registerForm.get('numeroDeTelefono')?.dirty">
                <p *ngIf="registerForm.get('numeroDeTelefono')?.hasError('required')">Rellene el campo telefono</p>
                <p *ngIf="registerForm.get('numeroDeTelefono')?.hasError('minlength')">Minimo 10 caracteres en telefono</p>
                <p *ngIf="registerForm.get('numeroDeTelefono')?.hasError('maxlength')">maximo 10 caracteres en telefono</p>    
              </div>
        
              <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.dirty">
                <p *ngIf="registerForm.get('email')?.hasError('required')">Rellene el campo correo</p>
                <p *ngIf="registerForm.get('email')?.hasError('email')">Debe ingresar un correo valido</p>
              </div>

        
        </form> 
    </div>
</div>
  