@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco&display=swap');

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #CCC4FF;
  padding: 0 30px;
  border-bottom: 3px solid white;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
  font-family: "Playwrite ES Deco", cursive;
}

.logo {
  display: flex;
  align-items: center;
}

.titles {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #CCC4FF;
  flex-wrap: wrap;
}

.titles a {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.hola, .a, .aa {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}





@media (max-width: 768px) {
  .header {
    padding: 0 15px;
  }


  .hola, .a, .aa {
    padding: 0 10px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 60px;
    padding: 0 10px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .hola, .a, .aa {
    font-size: 12px;
  }
}
