<div class="header">
    <div class="logo">
        <app-logo></app-logo>
        <h1>Clinic-Pets</h1>
    </div>

    <app-perfil></app-perfil>
</div>
<div class="titles">
    <app-titulo  [ruta]="'/home-vet'" [title]="'Home'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/agenda'" [title]="'Citas Agendadas'" class="a" [estilo]="'color:black ; font-size :15px'"></app-titulo>
    <app-titulo  [ruta]="'/table-historial'" [title]="'Consultar Historial'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
    <app-titulo  [ruta]="'/lost-pets'" [title]="'Animales Perdidos'" class="aa" [estilo]="'color:black; font-size: 15px'"></app-titulo>  
</div>