<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form__date">
    <div class="datoscontenedor">
      <h1 class="datos">Agendar cita</h1>
      <h1 class="datost">Datos del Tutor</h1>
      <div class="datostutor">
        <div class="columm__1">
          <div class="div label__nombre">
            <div class="columm__nombre">
              <app-input
                [text]="'text'"
                [holder]="'Nombre'"
                formControlName="nombre"
                [id]="'Nombre'"
                [estilos]="estilos">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('nombre')?.errors?.['required']" #myDiv>
              El nombre es obligatorio
            </p>
          </div>
          <div class="div label__correo">
            <div class="columm__correo">
              <app-input
                [text]="'email'"
                [holder]="'Correo'"
                [estilos]="estilos"
                formControlName="correo"
                [id]="'Correo'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('correo')?.errors?.['required']" #myDiv>
              El correo es obligatorio
            </p>
            <p *ngIf="loginForm.get('correo')?.errors?.['email']" #myDiv>
              El email debe ser correcto
            </p>
          </div>
        </div>
        <div class="columm__2">
          <div class="div label__telefono">
            <div class="columm__telefono">
              <app-input
                [text]="'text'"
                [holder]="'Telefono'"
                [estilos]="estilos"
                formControlName="telefono"
                [id]="'Telefono'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('telefono')?.errors?.['required']" #myDiv>
              El telefono es obligatorio
            </p>
            <p *ngIf="loginForm.get('telefono')?.errors?.['pattern']" #myDiv>
              El telefono debe tener numeros
            </p>
          </div>
          <div class="div label__direccion">
            <div class="columm__direccion">
              <app-input
                [text]="'text'"
                [holder]="'Direccion'"
                [estilos]="estilos"
                formControlName="direccion"
                [id]="'Direccion'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('direccion')?.errors?.['required']" #myDiv>
              La Direccion es obligatoria
            </p>
          </div>
        </div>
      </div>
      <h1 class="datost">Datos de la Mascota</h1>
      <div class="datosmascota">
        <div class="columm__3">
          <div class="div label_mascota">
            <div class="columm__mascota">
              <app-input
                [text]="'text'"
                [holder]="'Nombre Mascota'"
                [estilos]="style"
                formControlName="nombreMascota"
                [id]="'Nombre Mascota'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('nombreMascota')?.errors?.['required']" #myDiv>
              El nombre es obligatorio
            </p>
          </div>
          <div class="div label__edad">
            <div class="columm__edad">
              <app-input
                [text]="'text'"
                [holder]="'Edad'"
                [estilos]="style"
                formControlName="edad"
                [id]="'Edad'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('edad')?.errors?.['required']" #myDiv>
              La Edad es obligatoria
            </p>
          </div>
          <div class="div label__vacunacion">
            <div class="columm__vacunacion">
              <select id="Estado Vacunacion" formControlName="estadovacunacion" name="estadovacunacion">
                <option value="" hidden>Estado de Vacunacion</option>
                <option value="En orden">En orden</option>
                <option value="Incompletas">Incompletas</option>
              </select>
            </div>
            <p *ngIf="loginForm.get('estadovacunacion')?.errors?.['required']" #myDiv>
              El Estado de Vacunacion es obligatorio
            </p>
          </div>
          <div class="div label_sexo">
            <div class="columm_sexo">
              <select formControlName="sexo" id="sexo">
                <option value="" hidden>Seleccionar sexo</option>
                <option value="Hembra">Hembra</option>
                <option value="Macho">Macho</option>
              </select>
            </div>
            <p *ngIf="loginForm.get('sexo')?.errors?.['required']" #myDiv>
              El sexo es obligatorio
            </p>
          </div>
        </div>
        <div class="columm__4">
          <div class="div label_tipo">
            <div class="columm_tipo">
              <select formControlName="tipoDeCita" id="tipoCita">
                <option value="" hidden>Seleccionar tipo de cita</option>
                <option value="Consulta general">Consulta general</option>
                <option value="Vacunación">Vacunación</option>
                <option value="Consulta de Cirugía">Consulta de Cirugía</option>
                <option value="Consulta de Odontología">Consulta de Odontología</option>
                <option value="Consulta de Nutrición">Consulta de Nutrición</option>
                <option value="Chequeo Pre-Adopción">Chequeo Pre-Adopción</option>
              </select>
            </div>
            <p *ngIf="loginForm.get('tipoDeCita')?.errors?.['required']" #myDiv>
              El tipo de cita es obligatorio
            </p>
          </div>
          <div class="div label__especie">
            <div class="columm__especie">
              <select formControlName="especie" class="especie">
                <option value="" hidden>Especie</option>
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <p *ngIf="loginForm.get('especie')?.errors?.['required']" #myDiv>
              La especie es obligatoria
            </p>
          </div>
          <div class="div label__raza">
            <div class="columm__raza">
              <app-input
                [text]="'text'"
                [holder]="'Raza'"
                [estilos]="style"
                formControlName="raza"
                [id]="'Raza'">
              </app-input>
            </div>
            <p *ngIf="loginForm.get('raza')?.errors?.['required']" #myDiv>
              La raza es obligatoria
            </p>
          </div>
        </div>
      </div>
    </div>
    <img src="../../../../../assets/images/imgcitas/imagenCitas.png" alt="">
  </div>

  <section class="sintomas__consulta">
    <div class="divsintomas label__motivo consulta">
      <label for="sintomas">Motivo consulta</label>
      <textarea formControlName="sintomas" id="sintomas"></textarea>
      <p *ngIf="loginForm.get('sintomas')?.errors?.['required']" #myDiv>
        Los síntomas son obligatorios
      </p>
    </div>
  </section>

  <section class="calendario">
    <app-calendario
      (dateSelected)="onDateSelected($event)"
      (timeSelected)="onTimeSelected($event)">
    </app-calendario>
  </section>

  <div class="btnsubmit">
    <a class="btn__cancelar" routerLink="/home">Cancelar</a>
    <button class="btn__agendar" type="submit">Agendar</button>
    <a class="btn__historial" routerLink="/historial">Consultar Historial</a>
  </div>
</form>
