
h1{
    font-size: 40px;
    display: flex;
    justify-content:center ;
    padding: 30px;
}


/*
.div{
    display: flex;
    width: 45%;
    justify-content: center;
    padding: 20px  75px;
    flex-direction: column;
}

*/
.date_usuario{
    display: flex;
    justify-content: space-between;
    height: 260px;
    margin: 0px 150px;
}



.label__nombre,
.label__telefono,
.label__correo,
.label__direccion
{
height: 100px;

}

.label__especie,
.label_mascota,
.label__edad,
.label__vacunacion,
.label__vacunas,
.label__raza {
    height: 100px;
}

.columm__especie,
.columm__nombre,
.columm__correo,
.columm__telefono,
.columm__direccion{
    display: flex;
    flex-direction: column;
}

app-label{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    border: none;
}

.mascota{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    height: 340px;
}

.columm__mascota,
.columm__edad,
.columm__vacunacion,
.columm__vacunas,
.columm__raza {
display: flex;
flex-direction: column;
}

.sintomas__consulta{
    height: 450px;
}

.divsintomas{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 110px;
}

.section__fecha{
    margin: 0px 110px;
    display: flex;
}



option, select{
    width: 100%;
    height: 40px;   
    background-color: #E0DBFF;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}
#correcto{
    visibility: visible;
    color: black;
}

#sintomas{
    width: 93%;
    height: 300px;
    font-size: 40;
    background-color: #BEF3FF;
    background-image: url('../../../../../assets/images/fondosintomas.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
    
.btnsubmit{
    padding: 50px 120px 50px 0px;
    margin: 0px 130px;
    display: flex;
    justify-content: right;
}

button{
    background-color: #E0DBFF;
    color: black;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
    
}

p{
    color: red;
    visibility: hidden;
}

button:disabled{
    background-color: #eae7fd;
    color: rgb(85, 85, 85);
    cursor: none ;
}


.NativeDatePicker{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.date{
    display: flex;
    width: 50%;
    flex-direction: column;
}
#fecha{
    background-color: #BEF3FF;
    height: 40px; 
    padding: 5px 10px;
}

#bday{
    width: 450px;
    padding-left: 10px;
    padding-right: 10px;
}

.section__horarios{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000049;
}

.horac{
    color: black;
    background-color: white;
    
    border-radius: 10px;
}

.openmodalbtn{
    background-color: #E0DBFF;
    color: black;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
}
.modal{
    width: 700px;
    height: 440px;
    background-color: #BEF3FF;
    border-radius: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.modal h1{
    font-size: 28;
}

.modal h2{
    font-size: 20px;
}

.tabla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 40px;
}

.horas-disponibles{
    width: 280px;
    height: 300px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.horas-disponibles button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top:15px;
    padding: 5px 5px;
    margin-right: 0;
    background-color: white;
    
}

.horas-disponibles h2{
    margin-top: 10px;
}

.btn__historial{
    width: 340px;
}

.btn__agendar{
    width: 160px;
}