form{
    display: flex;
    flex-direction: column;
    padding: 58px 48px;
}
.form__date{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    border: 2px solid #CCC4FF;
    border-radius: 30px;
}
img{
    width: 50%;
    height: 80vh;
    border-top-right-radius: 25PX;
    border-bottom-right-radius: 25PX;
}

.datoscontenedor{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.datostutor{
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
}

.datosmascota{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.datos{
    font-size: 24px;
    padding: 8px;
    justify-content: center;
    display: flex;
}

.datost{
    font-size: 16px;
    display: flex;
    padding: 8px 80px;
}

.label__nombre,
.label__telefono,
.label__correo,
.label__direccion,
.label_mascota,
.label__edad,
.label__vacunacion,
.label__vacunas,
.label__raza,
.label__especie
{
height: 70px;
width: 200px;

}

/*
app-label{
    font-size: 12px;
    border: none;
}*/


.sintomas__consulta{
    height: 280px;
    padding-top: 12px;

}

.divsintomas{
    width: 100%;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
   
}

textarea{
    padding: 8px;
}

.section__fecha{
    margin: 0px 72px;
    display: flex;
    align-items: center;
}

.swal2-title.mi-titulo{
    color:rgba(122, 32, 34, 0.9) ;
}

.swal2-confirmButton.botonC{
    width: 80px;
    border-radius: 30px;
    border: none;
    color: black;
}

option, select{
    border:none ; 
    border-bottom:2px solid #CCC4FF; 
    margin-top: 16px; 
    height: 30px;
    width: 200px;
}

#sintomas{
    width: 100%;
    height: 100px;
    font-size: 40;
    margin-top: 8px;
    padding-left: 8px;
    border: 2px solid #CCC4FF;
    border-radius: 20px;
}
    
.btnsubmit{
    padding: 48px 72px 48px 0px;
    margin: 0px 130px;
    display: flex;
    justify-content: right;
}

button , .btn__cancelar {
    background-color: #E0DBFF;
    color: black;
    text-align: center;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 48px;
    cursor: pointer;
    text-decoration: none;
}



p{
    color: red;
    visibility: hidden;
    font-size: 12px;
    margin-top: 8px;
}

.NativeDatePicker{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.date{
    display: flex;
    width: 50%;
    flex-direction: column;
}
#fecha{
    background-color: #BEF3FF;
    height: 40px; 
    padding: 8px 8px;
}

#bday{
    width: 450px;
    padding-left: 8px;
    padding-right: 8px;
}

.section__horarios{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000049;
}

.horac{
    color: black;
    background-color: white;
    
    border-radius: 10px;
}

.openmodalbtn{
    width: 240px;
    height: 6   0px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #E0DBFF;
    color: black;
    padding: 16px 24px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 48px;
    cursor: pointer;
}
.modal{
    width: 700px;
    height: 440px;
    background-color: #BEF3FF;
    border-radius: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.modal h1{
    font-size: 28px;
    padding-bottom: 16px;
}


.close h3{
    cursor: pointer;
    font-size: 30px;

}
.close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
}

.modal h2{
    font-size: 20px;
}

.tabla{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 40px;
}

.horas-disponibles{
    width: 280px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.horas-disponibles button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top:16px;
    padding: 8px 8px;
    background-color: white;
    margin-right: 0;
}

.horas-disponibles button:hover{
    background-color: #E0DBFF;
       
}

.horas-disponibles h2{
    margin-top: 8px;
}

.btn__historial{
    width: 340px;
    background-color: #BEF3FF;
}

.btn__agendar{
    width: 160px;
    background-color: rgb( 87, 250, 60,0.47);
}

.btn__cancelar{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 60, 60,0.47);
}

.custom-select {
    /* Estilos personalizados para el select */
    width: 100%;
    border-radius: 4px;
  }
  