.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; /* Aumenta la altura del header */
  background-color: #CCC4FF;
  padding: 0 44px;
}

.titles {
  width: 350px;
  height: 40px; /* Asegúrate de que la altura coincida con la del input de búsqueda */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex; /* Cambia a flexbox para alinear imagen y campo de búsqueda */
  align-items: center;
  width: 100%;
  position: relative; /* Asegura que el contenedor sea el padre relativo */
}

.search-input {
  padding: 8px;
  border: 1.5px solid black; 
  border-radius: 27px; 
  height: 40px; 
  width: 100%; /* Ancho completo del contenedor */
  padding-left: 40px; /* Añade espacio a la izquierda para la imagen */
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.hola {
  border-right: 1.5px solid black;
  padding: 0 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.a {
  border-left: 1.5px solid black;
  padding: 0 12px;
  height: 40px;
  display: flex;
  align-items: center;
}

.car {
  width: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.car img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.create-product-btn {
  margin-top: 10px; /* Espacio superior */
  padding: 10px 20px; /* Espaciado interno */
  background-color: #E9E1FE; /* Color de fondo */
  color: black; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a una mano */
  width: 150px;
}

.create-product-btn:hover {
  background-color: #e9e1fe92; /* Color de fondo al pasar el ratón */
}
