<div class="header">
  <div class="logo">
  <app-logo></app-logo>
  <h1>Clinic-Pets</h1>
</div>
  <div class="titles">
    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar"
        [(ngModel)]="busqueda"
        (input)="buscarProductos()"
        class="search-input"/>
      <img src="../../../../../assets/icons/buscar.png" alt="Buscar" class="search-icon"/> <!-- Imagen de búsqueda -->
    </div>
  </div>
  <div class="car">
    <app-perfil></app-perfil>
  </div>
</div>
<div class="title">
  <app-home class="hola"></app-home>
  <app-titulo  [ruta]="'/gestion-horaios'" [title]="'Gestionar horarios'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/gestion-citas'" [title]="'Gestionar Citas'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/tienda-admin'" [title]="'Gestionar Productos'" class="aa" [estilo]="'color:black; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/admin-adopciones'" [title]="'Gestionar Adopcion'" class="a" [estilo]="'color:black ; font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/gestion-veterinarios'" [title]="'Gestionar Veterinarios'" class="a" [estilo]="'color:black ;font-size: 15px'"></app-titulo>
  <app-titulo  [ruta]="'/inventario'" [title]="'Inventario Tienda'" class="aa" [estilo]="'color:black;font-size: 15px'"></app-titulo>
</div>
