  .principal{
    width: 98%;
    width: auto;
    margin-top: 25px;
  
  }

  .wrap {
    width: 100%;
    height: 70%; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: space-evenly; /* Distribuye el espacio entre las tarjetas */
    align-items: flex-start; /* Alinea las tarjetas al inicio del contenedor */
    margin-top: 50px;
  
  }
  
  
  
  
  .cards{
    width: 90%;
  }
