
<div class="carta">

  <div class="img">
       <!-- <img id="miImagen" src="" alt="Imagen del formulario">-->
    <img src="../../../../../assets/images/imghome/coco 2.png" alt="">
  </div>    
      <div class="texto">
        <p nombre="text1" >{{datos.correo}}</p>
        <p nombre="text2">{{datos.nombre}}</p>
      </div>

      <div class="botones">
        <button class="ver" routerLink="'/ruta-destino'">ver</button>
        <button class="aceptar" (click)="AlertaAceptar()">aceptar</button>
        <button class="cancelar">Rechazar</button>
      </div>
</div>

