
<div class="carta">

  <div class="img">
       <!-- <img id="miImagen" src="" alt="Imagen del formulario">-->
    <img [src]="datos.imagenMascota" alt="datos.nombreMascota">
  </div>
      <div class="texto">
        <p nombre="text2" >Nombre:{{datos.nombreMascota}}</p>
        <p nombre="text1">Telefono: {{datos.numeroTelefono}}</p>
        <p nombre="text1">Ubicacion: {{datos.ubicacion}}</p>
      </div>

      <div class="botones">
        <button class="ver" (click)="openModal()">ver </button>
        <app-modal-ver-adopcion  *ngIf="modalVerAdopcion" (close)="Closemodalveradopcion()" [datos]="datos"></app-modal-ver-adopcion>
        <button class="aceptar" (click)="updatePetVerify(datos.IdAdopcionMascota)">aceptar</button>
        <button class="cancelar" (click)="deletePet(datos.IdAdopcionMascota)">Rechazar</button>
      </div>
</div>

