
<nav class="tamaño">
  <img src="../../../../../assets/images/imghome/lucas.png"  class="lucas" alt="">
  
  <div class="pricipalbox">
     <div class="content">
      <img src="../../../../../assets/images/imghome/gatitoredondo.png" alt="">
     <div class="text_adoptame">
      <h2>Adoptame</h2>
      <p>La adopción disminuye la sobrepoblación de animales, ya que al adoptar siempre deberá entregarse con esterilización. </p>
     </div>

     </div>
     
      <div class="img-text">
        <img src="../../../../../assets/images/imghome/pescado.png" alt="">
      </div>
</div>

</nav>