.tamaño{
    width: 100%;
    height: 300px;
    display: flex;
  
    padding-left: 16px;
   }

.tamaño .lucas{
    margin-right: 24px;
    width: 174px;
    height: 249px;
}


.pricipalbox{
    width: 65%;
    height: 157px;
    background-color: #BEF3FF;
    display: flex;
    display: block;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}


.content{
    display: flex;
}

.content img{
    padding: 0 8px;
    width: 100px;
}

.pricipalbox img{
    width: 30%;
    height: 144px;
    padding-top: 8px;
    display: block;
}



.text_adoptame{
    width: 100%;
    height: 100px;
    display: block;
    padding: 12px;
  
}


.text_adoptame p{
    width: 400px;
    font-size: 16px;
}


.img-text{
    width: 400px;
}
 

.img-text img{
    width: 37.6vw;
    height: 11vh;
    padding-top: 16px;
    display: block;
    margin-top: 8px;

}

@media (max-width:480px){
 
    .tamaño{
        width: 70%;
        display: flex;
        display: none;
        flex-direction: column;
    }

    .img-text{
        width: 200px;
    }
   
}


@media (max-width:769px){
 
    .tamaño{
        width: 80%;
        margin-left: 76px;
        display: flex;
        justify-content: space-between;
    }


    .tamaño .lucas{
        margin-right: 0px;
        margin-top: 10px;
        width: 180px;
        height: 220px;
        border-radius: 2px;
    }
    
   .img-text{
    display: none;
   }


   .pricipalbox{
    width: 65%;
    height: 213px;
}
    
    .pricipalbox img{
        padding-top: 8px;
        display: block;
        margin-left: 20px
    }

    .content{
        display: flex;
        margin-left: 20px;
        
    }

    .text_adoptame p{
        width: 100%;
        font-size: 12px;
    }
   
}