<!-- Sección principal del formulario de registro de usuario -->
<section>
    <!-- Contenedor de la imagen y el logo -->
    <div class="imagen">
        <!-- Contenedor del logo con un enlace a la página principal -->
        <div class="logo" routerLink="''">
            <app-logo></app-logo> <!-- Componente de logo de la aplicación -->
            <h1>Clinic-Pets</h1> <!-- Título del sitio -->
        </div>
    </div>
  
    <!-- Contenedor principal del formulario -->
    <div class="contenedor-formulario">
        <div class="formulario">
            <!-- Formulario de registro de usuario con enlace al formulario reactivo Angular -->
            <form class="formulario_2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1>REGISTRAR</h1> <!-- Título del formulario -->
  
                <!-- Campo para el número de documento -->
                <app-input
                    [text]="'text'"
                    [holder]="'numero de documento'"
                    formControlName="numeroDeDocumento"
                    [id]="'documento'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de documento -->
                <div *ngIf="registerForm.get('numeroDeDocumento')?.errors && registerForm.get('numeroDeDocumento')?.dirty">
                    <p class="message_password" *ngIf="registerForm.get('numeroDeDocumento')?.hasError('minlength') || registerForm.get('numeroDeDocumento')?.hasError('maxlength')">Minimo y maximo 10 caracteres en documento</p>
                </div>
  
                <!-- Campo para el nombre del usuario -->
                <app-input
                    [text]="'text'"
                    [holder]="'nombre'"
                    formControlName="nombre"
                    [id]="'Nombre'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de nombre -->
                <div *ngIf="registerForm.get('nombre')?.errors && registerForm.get('nombre')?.dirty">
                  <p class="message_password" *ngIf="registerForm.get('nombre')?.hasError('required')">Debe llenar el campo</p>
                </div>
  
                <!-- Campo para el apellido del usuario -->
                <app-input
                    [text]="'text'"
                    [holder]="'apellido'"
                    formControlName="apellido"
                    [id]="'apellido'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de apellido -->
                <div *ngIf="registerForm.get('apellido')?.errors && registerForm.get('apellido')?.dirty">
                    <p class="message_password" *ngIf="registerForm.get('apellido')?.hasError('required')">Debe llenar el campo</p>
                </div>
  
                <!-- Campo para el número de teléfono -->
                <app-input
                    [text]="'text'"
                    [holder]="'numero de telefono'"
                    formControlName="numeroDeTelefono"
                    [id]="'telefono'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de teléfono -->
                <div *ngIf="registerForm.get('numeroDeTelefono')?.errors && registerForm.get('numeroDeTelefono')?.dirty">
                    <p class="message_password" *ngIf="registerForm.get('numeroDeTelefono')?.hasError('minlength') || registerForm.get('numeroDeTelefono')?.hasError('maxlength')">Minimo 10 y maximo 14 caracteres en telefono</p>
                </div>
  
                <!-- Campo para el correo electrónico -->
                <app-input
                    [text]="'text'"
                    [holder]="'email'"
                    formControlName="email"
                    [id]="'email'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de correo electrónico -->
                <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.dirty">
                  <p class="message_password" *ngIf="registerForm.get('email')?.hasError('email')">Debe ingresar un correo valido</p>
                </div>
  
                <!-- Campo para la contraseña -->
                <app-input
                    [text]="'password'"
                    [holder]="'contraseña'"
                    formControlName="contrasenia"
                    [id]="'contraseña'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensajes de error para el campo de contraseña -->
                <div *ngIf="registerForm.get('contrasenia')?.errors && registerForm.get('contrasenia')?.dirty">
                    <p class="message_password" *ngIf="registerForm.get('contrasenia')?.hasError('minlength') || registerForm.get('contrasenia')?.hasError('maxlength') || registerForm.get('contrasenia')?.hasError('pattern')">
                        ¡Necesitas entre 8 y 15 caracteres, al menos una mayúscula, una minúscula y un número!
                    </p>
                </div>
  
                <!-- Campo para confirmar la contraseña -->
                <app-input
                    [text]="'password'"
                    [holder]="'confirmar contraseña'"
                    formControlName="confirmarContrasenia"
                    [id]="'confirmar'"
                    [estilos]="estilos">
                </app-input>
  
                <!-- Mensaje de error si las contraseñas no coinciden -->
                <div *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('contrasenia')?.dirty || registerForm.get('confirmarContrasenia')?.dirty)">
                    <p class="message_password">Confirmar contraseña no es igual a contraseña</p>
                </div>
  
                <!-- Mensaje de error si algún campo está vacío -->
                <div *ngIf="registerForm.invalid && registerForm.dirty">
                    <p class="message_password">Todos los campos son obligatorios.</p>
                </div>
  
                <!-- Enlace para los usuarios que ya tienen una cuenta -->
                <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesion</a></p>
  
                <!-- Botón de envío del formulario -->
                <div class="btn-button-submit">
                    <button type="submit" [disabled]="registerForm.invalid" class="button">Registrarse</button>
                </div>
  
                <!-- Botón para iniciar sesión con Google (actualmente comentado) -->
                <!-- <button class="g-signin2" (click)="loginWithGoogle()">Iniciar sesión con Google</button>-->
  
            </form>
        </div>
    </div>
  </section>
  