<!-- Sección principal del formulario de registro de usuario -->
<section>
    <div class="imagen">
      <div class="logo" routerLink="''">
        <app-logo></app-logo>
        <h1>Clinic-Pets</h1>
      </div>
    </div>
  
    <div class="contenedor-formulario">
      <div class="formulario">
        <form class="formulario_2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <h1>REGISTRAR</h1>
  
          <app-input
              [text]="'text'"
              [holder]="'numero de documento'"
              formControlName="numeroDeDocumento"
              [id]="'documento'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('numeroDeDocumento')?.errors && (registerForm.get('numeroDeDocumento')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('numeroDeDocumento')?.hasError('pattern')">El documento debe contener solo números.</p>
            <p class="message_password" *ngIf="registerForm.get('numeroDeDocumento')?.hasError('minlength') || registerForm.get('numeroDeDocumento')?.hasError('maxlength')">El documento debe tener exactamente 10 caracteres.</p>
          </div>
  
          <app-input
              [text]="'text'"
              [holder]="'nombre'"
              formControlName="nombre"
              [id]="'Nombre'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('nombre')?.errors && (registerForm.get('nombre')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('nombre')?.hasError('required')">Debe llenar el campo</p>
          </div>
  
          <app-input
              [text]="'text'"
              [holder]="'apellido'"
              formControlName="apellido"
              [id]="'apellido'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('apellido')?.errors && (registerForm.get('apellido')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('apellido')?.hasError('required')">Debe llenar el campo</p>
          </div>
  
          <app-input
              [text]="'text'"
              [holder]="'numero de telefono'"
              formControlName="numeroDeTelefono"
              [id]="'telefono'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('numeroDeTelefono')?.errors && (registerForm.get('numeroDeTelefono')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('numeroDeTelefono')?.hasError('pattern')">El teléfono debe contener solo números.</p>
            <p class="message_password" *ngIf="registerForm.get('numeroDeTelefono')?.hasError('minlength') || registerForm.get('numeroDeTelefono')?.hasError('maxlength')">El teléfono debe tener entre 10 y 15 caracteres.</p>
          </div>
  
          <app-input
              [text]="'text'"
              [holder]="'email'"
              formControlName="email"
              [id]="'email'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('email')?.hasError('email')">Debe ingresar un correo valido</p>
          </div>
  
          <app-input
              [text]="'password'"
              [holder]="'contraseña'"
              formControlName="contrasenia"
              [id]="'contraseña'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.get('contrasenia')?.errors && (registerForm.get('contrasenia')?.dirty || hasAttemptedSubmit)">
            <p class="message_password" *ngIf="registerForm.get('contrasenia')?.hasError('minlength') || registerForm.get('contrasenia')?.hasError('maxlength') || registerForm.get('contrasenia')?.hasError('pattern')">
              ¡Necesitas entre 8 y 15 caracteres, al menos una mayúscula, una minúscula y un número!
            </p>
          </div>
  
          <app-input
              [text]="'password'"
              [holder]="'confirmar contraseña'"
              formControlName="confirmarContrasenia"
              [id]="'confirmar'"
              [estilos]="estilos">
          </app-input>
  
          <div *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('contrasenia')?.dirty || registerForm.get('confirmarContrasenia')?.dirty || hasAttemptedSubmit)">
            <p class="message_password">Confirmar contraseña no es igual a contraseña</p>
          </div>
  
          <!-- Mensaje de error si algún campo está vacío y el formulario ha sido enviado -->
          <div *ngIf="hasAttemptedSubmit && registerForm.invalid">
            <p class="message_password">Todos los campos son obligatorios y deben ser válidos.</p>
          </div>
  
          <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesion</a></p>
  
          <div class="btn-button-submit">
            <button type="submit" [disabled]="registerForm.invalid" class="button">Registrarse</button>
          </div>
          <div *ngIf="hasAttemptedSubmit && errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <!-- Botón para iniciar sesión con Google (actualmente comentado) -->
          <!-- <button class="g-signin2" (click)="loginWithGoogle()">Iniciar sesión con Google</button>-->
  
        </form>
      </div>
    </div>
  </section>
  