@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco&display=swap');


section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen {
    width: 60%;
    height: 100vh; /* Altura igual a la altura completa de la ventana visible */
    display: flex;
    background-image: url("../../../assets/images/imghome/descarga\ \(1\).jpg");
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.10);
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
}

.logo {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 12px;
    left: 0;
    position: absolute;
}

.logo h1 {
    font-size: 28px;
    margin-top: 20px;
    font-family: "Playwrite ES Deco", cursive;
}

p {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000000; /* Se cambia para evitar el uso de la función 'blue' no estándar */
}

.imagen::before {
    content: '';
    background-color: rgba(204, 196, 255, 0.10);
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
}

.contenedor-formulario {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.formulario {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #CCC4FF;
    border-radius: 10%;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formulario_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.formulario_2 h1 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
    background: linear-gradient(90deg, #4A90E2, #9013FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

h1:hover {
    color: #4A90E2;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.reset-link {
    margin-top: 20px;
    text-decoration: none;
    font-size: 11px;
    color: inherit;
}

.reset-link .highlight {
    color: #007bff;
    text-decoration: none;
}

.reset-link .highlight:hover {
    text-decoration: underline;
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(172, 165, 214, 0.47);
    margin-top: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #458ba0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #ffffff;
}

.button:active {
    background-color: #454ea0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transform: translateY(2px);
}

.typing-effect {
    display: none;
}

/* Puntos de quiebre para dispositivos móviles y tabletas */

/* Móviles pequeños (320px - 480px) */
@media (max-width: 480px) {
    section {
        flex-direction: column;
    }

    .imagen {
        width: 100%;
        height: 50vh; /* Ajusta la altura de la imagen en dispositivos móviles pequeños */
    }

    .imagen::before {
        width: 100%;
        height: 50vh;
    }

    .contenedor-formulario {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .formulario {
        width: 90%;
        max-width: none;
    }

    .reset-link {
        font-size: 10px; /* Tamaño del texto reducido */
    }
}

/* Tabletas (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    section {
        flex-direction: column;
    }

    .imagen {
        width: 100%;
        height: 50vh; /* Ajusta la altura para tabletas */
    }

    .imagen::before {
        width: 100%;
        height: 50vh;
    }

    .contenedor-formulario {
        width: 100%;
        height: auto;
    }

    .formulario {
        width: 90%;
        max-width: 350px; /* Ajusta el ancho máximo */
    }

    .reset-link {
        font-size: 12px; /* Tamaño del texto ligeramente mayor */
    }
}

/* Pantallas de escritorio pequeñas (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        flex-direction: row;
    }

    .imagen {
        width: 50%;
    }

    .imagen::before {
        width: 50%;
        height: 100%;
    }

    .contenedor-formulario {
        width: 50%;
        height: 100vh;
    }

    .formulario {
        width: 80%;
        max-width: 350px;
    }

    .reset-link {
        font-size: 13px; /* Tamaño del texto para pantallas medianas */
    }
}

/* Pantallas de escritorio medianas (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
    section {
        flex-direction: row;
    }

    .imagen {
        width: 50%;
    }

    .imagen::before {
        width: 50%;
        height: 100%;
    }

    .contenedor-formulario {
        width: 50%;
        height: 100vh;
    }

    .formulario {
        width: 80%;
        max-width: 350px;
    }

    .reset-link {
        font-size: 14px; /* Tamaño del texto para pantallas grandes */
    }
}

/* Pantallas de escritorio grandes (1281px en adelante) */
@media (min-width: 1281px) {
    section {
        flex-direction: row;
    }

    .imagen {
        width: 60%;
    }

    .imagen::before {
        width: 60%;
        height: 100%;
    }

    .contenedor-formulario {
        width: 40%;
        height: 100vh;
    }

    .formulario {
        width: 80%;
        max-width: 400px;
    }
}

/* Estilos mensajes de error en el formulario */
.message_password {
   font-size: 10px;
   margin: 0;
   color: red;
}
