.botcitas{
    font-size: 40px;
    padding-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}


.fondodogs{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url(../../../assets/images/imghome/fondoperritos1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;

  
};

