img{
    color: black;
    width: 50px;
    height: 50px;
}

.logo{
    width: 80px;
    height: 60px;
}

div{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
}


@media (max-width: 480px){
    img, .logo {
      width: 40px;
      height: 30px;
    }
  }